/*
 *  Document   : main.css
 *  Author     : Deepak
 */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic');
.left-door,
.right-door {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: #151515;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}
.bgcolorwhite {
    background: #FFF !important;
}
.left-door {
    left: 0;
    border-right: 3px solid #222
}
.right-door {
    right: 0;
    border-left: 3px solid #222
}
.left-door.login-animate,
.right-door.login-animate {
    width: 0
}
.login-btn {
    z-index: 1000;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    width: 160px;
    height: 160px;
    line-height: 150px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    margin-left: -80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out
}
.login-btnnew {
    z-index: 1000;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    width: 160px;
    height: 160px;
    line-height: 150px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    border: 5px solid #2980b9;
    margin-left: -80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out
}
.login-logo {
    display: block;
    position: relative
}
.login-logo .square1,
.login-logo .square2 {
    position: absolute;
    display: none;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border: 8px solid #333;
    top: 30px;
    left: 30px;
    z-index: 1002
}
.login-logo .square2 {
    border: none;
    top: 63px;
    left: 63px;
    width: 50px;
    height: 50px;
    z-index: 1001
}
.login-logo .name {
    font-weight: 300
}
.login-btnnew:focus,
.login-btn:focus,
.login-btn:hover,
.login-btnnew:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 100px 0 #777
}
.login-btn:focus,
.login-btnnew:focus {
    outline: 0
}
.login-btn::-moz-focus-inner,
.login-btnnew::-moz-focus-inner {
    border: 0
}
.login-btn.login-animate,
.login-btnnew.login-animate {
    top: 75px;
    box-shadow: none;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg)
}
#login-container {
    width: 300px;
    margin: 0 auto;
    padding: 310px 0 0
}
.login .block-tabs {
    box-shadow: 0 0 100px 0 #000
}
.login .tab-content {
    padding-bottom: 10px!important
}
#login-tabs li {
    width: 50%
}
#login-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left
}
#login-buttons i {
    float: right
}
body.login .form-group {
    margin-bottom: 10px
}
.login-extra-check {
    margin: 5px 0 0
}
.no-animation #login-container,
.no-animation .login-logo .square1,
.no-animation .login-logo .square2 {
    display: block!important
}
.no-animation .left-door,
.no-animation .login-logo .name,
.no-animation .right-door {
    display: none!important
}
.no-animation .login-btn {
    top: 75px!important;
    box-shadow: none!important
}
body {
    background: #393939 url(../image/bg.png) top left;
    color: #333;
    line-height: 1.6;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.no-animation .login-btnnew {
    top: 75px!important;
    box-shadow: none!important
}
body {
    background: #393939 url(../image/bg.png) top left;
    color: #333;
    line-height: 1.6;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
#page-container {
    width: 95%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #595959
}
#page-container.full-width {
    width: 100%
}
#page-sidebar {
    width: 201px;
    display: block;
    position: absolute;
    border-right: 1px solid #333
}
#pre-page-content {
    padding: 20px;
    min-height: 140px;
    background-color: #f0f0f0
}
#page-content {
    padding: 20px;
    min-height: 440px;
    background-color: #fff
}
#page-content+footer {
    text-align: center;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #f1f1f1
}
#page-content,
#page-content+footer,
#pre-page-content {
    border-left: 1px solid #333;
    margin: 0 0 0 200px
}
.affix {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    opacity: .9;
    border: none!important;
    margin: 0!important;
    filter: alpha(opacity=90);
    -wekit-box-shadow: 0 0 2px 0 #333;
    box-shadow: 0 0 2px 0 #333;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear
}
.affix:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.header-fixed-top .affix {
    top: 42px
}
.full-width .affix {
    margin-left: 201px!important
}
.header-fixed-top #page-container {
    padding: 42px 0 0
}
.header-fixed-bottom #page-container {
    padding: 0 0 42px
}
#page-sidebar.sticky {
    position: fixed;
    top: 41px;
    bottom: 0
}
.header-fixed-top #page-sidebar.sticky {
    top: 42px
}
.header-fixed-bottom #page-sidebar.sticky {
    top: 0;
    bottom: 42px
}
#top-search {
    margin: 5px;
    padding: 0;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50px
}
#top-search .form-control {
    margin: 0;
    padding: 0 5px;
    height: 30px;
    line-height: normal;
    width: 106px;
    border: none;
    color: #2980b9;
    background-color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#top-search .form-control:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}
#top-search .form-control:focus {
    width: 270px;
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0
}
.lt-ie9 #top-search .form-control {
    line-height: 30px!important
}
#loading {
    font-size: 20px;
    padding: 5px 0 0;
    height: 35px
}
#loading i {
    color: #fff
}
.dropdown-theme-options .dropdown-menu>li {
    width: 172px
}
.theme-colors {
    list-style: none;
    padding: 10px 0 0;
    margin: 0
}
.theme-colors li {
    float: left;
    margin: 0 4px 10px
}
.theme-colors li a {
    display: block;
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid
}
.theme-colors li.active a {
    border-color: #000!important
}
.theme-extra {
    padding-top: 10px!important;
    padding-bottom: 5px!important
}
.themed-color {
    color: #2980b9
}
.themed-background {
    background-color: #2980b9
}
.themed-border {
    border-color: #2980b9
}
.dropdown-notifications li {
    width: 190px
}
.dropdown-notifications .alert {
    margin: 2px -8px;
    font-size: 13px;
    padding: 8px 5px
}
.dropdown-messages li {
    width: 245px
}
.dropdown-messages li:hover {
    background-color: #eee
}
.dropdown-messages li:hover .media-body .media {
    color: #000
}
.dropdown-messages li>.media {
    margin: 0 -12px;
    background: 0 0
}
.dropdown-messages .media-heading {
    margin: 0
}
.dropdown-messages .media-heading span {
    float: right
}
.dropdown-messages .media-body .media {
    padding: 0;
    margin: 0;
    background: 0 0
}
.dropdown-user img {
    margin: -9px
}
#page-sidebar.navbar-collapse {
    max-height: none!important;
    padding: 0!important;
    border-top: none
}
#primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #595959
}
#primary-nav li a {
    display: block;
    color: #eee;
    padding: 10px 10px 8px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #595959;
    text-decoration: none
}
#primary-nav li a:hover {
    text-decoration: none;
    background-color: #616161;
    border-color: #616161
}
#primary-nav li a:focus {
    outline: 0
}
#primary-nav li a::-moz-focus-inner {
    border: 0
}
#primary-nav a>i {
    width: 20px;
    text-align: center;
    display: inline-block;
    margin: -3px 10px 0 0
}
#primary-nav li a.active,
#primary-nav li>ul a.active:hover {
    color: #fff;
    background-color: #2980b9;
    border-color: #333
}
#primary-nav li span {
    float: right;
    font-size: 12px;
    color: #aaa;
    display: none;
}
#primary-nav li a:hover span {
    color: #fff
}
#primary-nav li a.open,
#primary-nav li a.open:hover,
#primary-nav li.active>a,
#primary-nav li.active>a:hover {
    color: #fff;
    background: #494949;
    border-color: #494949
}
#primary-nav li>ul {
    padding: 0;
    margin: 0;
    display: none;
    background: #777
}
#primary-nav li.active>ul {
    display: block
}
#primary-nav li>ul a {
    margin: 0;
    font-size: 12px;
    color: #ddd;
    border-color: #777;
    padding: 7px 10px 7px 20px
}
#primary-nav li>ul a:hover {
    background-color: #888;
    border-color: #888
}
#primary-nav li>ul>li>ul a {
    padding-left: 30px
}
.block {
    margin: 0 0 20px;
    padding: 0;
    background-color: #fff
}
.block .block {
    margin: 0 0 15px
}
.block-title {
    margin: 0;
    background-color: #eee
}
.block-title code {
    margin-bottom: 0;
    background: #fff;
    border: none;
    padding: 2px 3px;
    opacity: .6;
    filter: alpha(opacity=60)
}
.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 {
    display: inline-block;
    padding: 12px 10px 10px;
    margin: 0;
    line-height: normal
}
.block-title h1,
.block-title h2,
.block-title h3 {
    padding-left: 15px;
    padding-right: 15px
}
.block-options {
    float: right;
    margin: 8px 10px 0 0
}
.block-options-left {
    float: left;
    margin: 8px 0 0 10px
}
.block-tabs .block-options,
.block-tabs .block-options-left {
    margin-top: 6px
}
.block-content {
    margin: 0;
    padding: 20px 20px 5px;
    border: 2px solid #eee;
    border-top: none
}
.block-content.full {
    padding: 20px
}
.block-content.block-content-flat {
    padding: 0
}
.block-section {
    margin-bottom: 20px
}
.block-section-pad {
    padding: 20px;
    margin-bottom: 20px
}
.block-last {
    margin-bottom: 0!important
}
.block.block-themed {
    border: none
}
.block.block-themed>.block-title {
    background: #2980b9
}
.block.block-themed>.block-content {
    border-color: #2980b9
}
.block.block-themed>.block-title h1,
.block.block-themed>.block-title h2,
.block.block-themed>.block-title h3,
.block.block-themed>.block-title h4,
.block.block-themed>.block-title h5,
.block.block-themed>.block-title h6 {
    color: #fff
}
.block.block-themed>.block-title h1 small,
.block.block-themed>.block-title h2 small,
.block.block-themed>.block-title h3 small,
.block.block-themed>.block-title h4 small,
.block.block-themed>.block-title h5 small,
.block.block-themed>.block-title h6 small {
    color: #f5f5f5
}
.block.block-tabs {
    padding: 0;
    border: 2px solid #ddd
}
.block-tabs>.nav-tabs {
    background-color: #ddd;
    border-bottom: 2px solid #ddd
}
.block-tabs>.nav-tabs>li {
    margin-bottom: -2px
}
.block-tabs>.nav-tabs>li>a,
.block-tabs>.nav-tabs>li>a:focus,
.block-tabs>.nav-tabs>li>a:hover {
    border: none
}
.block-tabs>.nav-tabs>li>a:focus,
.block-tabs>.nav-tabs>li>a:hover {
    border: none;
    color: #333;
    background-color: #d4d4d4
}
.block-tabs>.nav-tabs>.active>a:focus,
.block-tabs>.nav-tabs>.active>a:hover {
    background-color: #fff
}
.block-tabs>.tab-content {
    border: 0;
    padding: 20px;
    margin: 0
}
.block-tabs.block-themed {
    border: 2px solid #2980b9
}
.block-tabs.block-themed>.nav-tabs {
    background: #2980b9;
    border-bottom: none
}
.block-tabs.block-themed>.nav-tabs>li {
    margin-bottom: 0
}
.block-tabs.block-themed>.nav-tabs>li>a {
    color: #fff
}
.block-tabs.block-themed>.nav-tabs>li>a:focus,
.block-tabs.block-themed>.nav-tabs>li>a:hover {
    background: #333
}
.block-tabs.block-themed>.nav-tabs>.active>a,
.block-tabs.block-themed>.nav-tabs>.active>a:focus,
.block-tabs.block-themed>.nav-tabs>.active>a:hover {
    color: #333;
    background-color: #fff
}
.block-tabs.block-themed>.tab-content {
    padding: 20px
}
.modal-body .block-tabs.block-themed {
    border: 0
}
.mini-profile {
    padding: 10px;
    background: #353535
}
.mini-profile a {
    display: inline-block
}
.mini-profile a:hover {
    opacity: .95;
    filter: alpha(opacity=95)
}
.mini-profile img {
    width: 120px;
    height: 120px
}
.mini-profile-options {
    float: right
}
.mini-profile-options .badge {
    width: 29px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    opacity: .8;
    border-radius: 14px;
    filter: alpha(opacity=80);
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}
.mini-profile-options .badge:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.sidebar-tabs {
    background-color: #696969;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px
}
.sidebar-tabs li {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left
}
.sidebar-tabs a {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 38px;
    font-size: 16px
}
.sidebar-tabs>li>a:active,
.sidebar-tabs>li>a:focus,
.sidebar-tabs>li>a:hover {
    color: #fff!important;
    background-color: #777;
    text-decoration: none!important;
    outline: 0
}
.sidebar-tabs>li.active>a {
    background-color: #595959
}
.sidebar-tabs-con .tab-content {
    background-color: #595959;
    padding: 20px 0 10px;
    margin: 0;
    border: none
}
.tab-pane-side {
    padding: 0 10px;
    color: #ccc
}
#page-sidebar h1,
#page-sidebar h2,
#page-sidebar h3,
#page-sidebar h4,
#page-sidebar h5,
#page-sidebar h6 {
    margin: 5px -10px;
    padding: 9px 10px 8px;
    font-weight: 400;
    background-color: #696969
}
#page-sidebar h1 i.pull-right,
#page-sidebar h2 i.pull-right,
#page-sidebar h3 i.pull-right,
#page-sidebar h4 i.pull-right,
#page-sidebar h5 i.pull-right,
#page-sidebar h6 i.pull-right {
    margin: 2px 0 0
}
.side-link,
.side-link:hover {
    color: #fff
}
#pre-page-content h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555
}
#pre-page-content h1 small {
    color: #777
}
#pre-page-content h1 i {
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
    margin-top: 0;
    font-size: 56px;
    display: block
}
#pre-page-content h1 i,
.animate-360 {
    animation: pre-page-icon 1s ease-in-out;
    -webkit-animation: pre-page-icon 1s ease-in-out
}
.animate-360 {
    display: inline-block
}
@keyframes pre-page-icon {
    from {
        opacity: 0;
        transform: rotateY(0deg)
    }
    to {
        opacity: 100;
        transform: rotateY(360deg)
    }
}
@-webkit-keyframes pre-page-icon {
    from {
        opacity: 0;
        -webkit-transform: rotateY(0deg)
    }
    to {
        opacity: 100;
        -webkit-transform: rotateY(360deg)
    }
}
#pre-page-content h1 i[class*=" gemicon-"],
#pre-page-content h1 i[class^=gemicon-] {
    margin-top: 8px
}
.timeline-container {
    margin-bottom: 15px
}
.timeline {
    list-style: none;
    margin: 0 0 0 150px;
    padding: 0 0 0 20px;
    border-left: 3px solid #e9e9e9
}
.timeline li {
    background-color: #f0f0f0;
    padding: 10px 10px 10px 84px;
    margin: 10px 0;
    position: relative
}
.timeline li:hover {
    background-color: #e9e9e9
}
.timeline-meta-cat,
.timeline-meta-time {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px
}
.timeline-meta-cat {
    width: 40px;
    text-align: center;
    color: #fff;
    left: -73px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px
}
.timeline-meta-time {
    left: -173px;
    width: 100px;
    padding: 0 10px;
    text-align: right;
    font-size: 13px;
    color: #777
}
.timeline-avatar {
    margin: -10px 0 -10px -84px;
    float: left;
    width: 64px;
    height: 64px
}
.timeline-title {
    display: block;
    margin-bottom: 4px;
    font-weight: 700
}
.timeline-text {
    color: #555;
    font-size: 13px
}
.block.block-tiles {
    padding: 0;
    margin: 0 -7px 14px 0
}
.tile {
    text-align: center;
    padding: 10px;
    margin: 0 6px 6px 0;
    float: left;
    background-color: #eee;
    display: block;
    position: relative
}
.tile:hover {
    opacity: .75;
    filter: alpha(opacity=75)
}
a.tile {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}
a.tile:hover {
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}
.block-tiles-animated a.tile:hover {
    transform: scale(0.95) rotateZ(1deg);
    -ms-transform: scale(0.95) rotateZ(1deg);
    -webkit-transform: scale(0.95) rotateZ(1deg)
}
.tile-themed {
    background-color: #2980b9;
    background-repeat: repeat;
    color: #fff
}
.tile>i {
    padding: 20px 0 0;
    display: inline-block;
    font-size: 56px;
    color: #aaa;
    -webkit-transform: translate3d(0, 0, 0)
}
.tile>i.gi,
.tile>i.hi {
    padding: 7px 0 0
}
.tile>i.fi,
.tile>i.si {
    padding: 16px 0 0
}
.tile-height-2x>i {
    padding: 107px 0 0
}
.tile-height-2x>i.gi,
.tile-height-2x>i.hi {
    padding: 90px 0 0
}
.tile-height-2x>i.fi,
.tile-height-2x>i.si {
    padding: 103px 0 0
}
.tile-themed>i {
    color: #fff
}
.tile-info {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #aaa
}
.tile-themed .tile-info {
    color: #fff
}
.tile {
    width: 143px;
    height: 143px
}
.tile>i {
    width: 123px
}
.tile-info {
    width: 143px
}
.tile-width-2x,
.tile-width-2x .tile-info {
    width: 292px
}
.tile-height-2x {
    height: 292px
}
.tile-width-2x>i {
    width: 272px
}
.gallery a img,
.gallery-image img,
a[data-toggle=lightbox-image] img {
    max-width: 100%;
    border: 3px solid #fff
}
.gallery a:hover img,
.gallery-image:hover img,
a[data-toggle=lightbox-image]:hover img {
    border: 3px solid #2980b9
}
.gallery-image {
    position: relative
}
.gallery-image-options {
    position: absolute;
    top: 0;
    padding: 10px;
    display: none;
    width: 100%
}
.gallery-image:hover .gallery-image-options {
    display: block
}
.content-text .pull-left {
    margin: 0 20px 10px 0
}
.content-text .pull-right {
    margin: 0 0 10px 20px
}
#lock-container {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 80px
}
img.full-bg {
    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}
@media screen and (max-width: 1280px) {
    img.full-bg {
        left: 50%;
        margin-left: -640px
    }
}
#to-top {
    font-size: 20px;
    position: fixed;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #bbb;
    bottom: 85px;
    left: 0;
    color: #333;
    display: none;
    opacity: .25;
    filter: alpha(opacity=25)
}
#to-top:hover {
    text-decoration: none;
    background-color: #2980b9;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100)
}
.chart {
    height: 300px
}
.chart-live {
    height: 540px
}
.chart-tooltip {
    position: absolute;
    display: none;
    color: #fff;
    background-color: #333;
    padding: 3px 10px
}
.chart-pie-label {
    font-size: 10px;
    text-align: center;
    padding: 2px 5px;
    color: #fff
}
#error-tabs {
    text-align: center;
    margin-bottom: 20px
}
#error-tabs li {
    display: inline-block;
    float: none
}
.error-container {
    padding: 220px 20px;
    text-align: center;
    border: 10px solid #2980b9;
    background: #eee
}
.error-container.standalone {
    padding: 50px 20px;
    margin: 150px auto 0;
    min-width: 300px;
    max-width: 768px;
    position: relative
}
.error-container.standalone>a {
    position: absolute;
    top: 4px;
    left: 5px
}
.error-code {
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 50px
}
.error-text {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 50px
}
.error-search,
.error-search div,
.error-search input {
    margin: 0
}
#fc-external-events {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px
}
.fc-external-event {
    background-color: #2980b9;
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 8px;
    cursor: move;
    border: 2px dotted #000
}
.wizard-steps {
    margin: 0 0 25px
}
.wizard-steps .wizard-step {
    padding: 20px;
    font-size: 18px;
    color: #999;
    background-color: #eee;
    text-align: center;
    margin-bottom: 10px
}
.wizard-steps .wizard-step.active {
    color: #fff;
    font-weight: 700;
    background-color: #2980b9
}
.wizard-steps .wizard-step.done {
    background: 0 0
}
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer
}
.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0)
}
.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}
.switch span:after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .05);
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}
.switch input:checked+span:after {
    left: 27px;
    border: none;
    -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, .1);
    box-shadow: -2px 0 3px rgba(0, 0, 0, .1)
}
.switch input:checked+span {
    background-color: #eee
}
.switch-default span {
    border-color: #ddd
}
.switch-default input:checked+span {
    background-color: #ddd
}
.switch-info span {
    border-color: #4cb9fc
}
.switch-info input:checked+span {
    background-color: #4cb9fc
}
.switch-success span {
    border-color: #b1cc16
}
.switch-success input:checked+span {
    background-color: #b1cc16
}
.switch-warning span {
    border-color: #fcbc4c
}
.switch-warning input:checked+span {
    background-color: #fcbc4c
}
.switch-danger span {
    border-color: #fc4c4c
}
.switch-danger input:checked+span {
    background-color: #fc4c4c
}
.gmap-con img {
    max-width: none!important
}
.pricing-tables {
    text-align: center;
    margin: 0;
    padding: 0
}
.pricing-tables>li {
    width: 230px;
    margin: 10px 0;
    padding: 0 0 20px;
    background-color: #ddd;
    display: inline-block;
    opacity: .9;
    filter: alpha(opacity=90)
}
.pricing-tables>li:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.pricing-tables h2 {
    color: #fff;
    background: #333;
    padding: 20px 10px;
    margin: 0
}
.pricing-tables h1 {
    font-size: 90px;
    margin: 0 0 20px;
    padding: 15px 20px;
    line-height: normal;
    background-color: #eee
}
.pricing-tables h1 sup {
    font-size: 22px;
    top: -2em
}
.pricing-tables h1 small {
    display: block;
    font-size: 14px
}
.pricing-tables>li ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 0 20px 30px;
    text-align: left
}
.pricing-tables>li ul li {
    margin: 0 0 5px
}
.pricing-tables-mini>li {
    width: 180px
}
.pricing-tables-mini h2 {
    padding: 10px
}
.pricing-tables-mini h1 {
    font-size: 72px
}
.pricing-tables-mini h1 sup {
    top: -1.4em
}
li.plan-featured {
    border: 10px solid #2980b9;
    width: 250px;
    background-color: #fff
}
.pricing-tables-mini>li.plan-featured {
    width: 200px
}
li.plan-featured h2 {
    background-color: #2980b9
}
li.plan-featured h1 {
    background-color: #fff;
    color: #2980b9
}
.iconset-list {
    list-style: none;
    margin: 0;
    padding: 0
}
.iconset-list li {
    padding: 5px;
    margin: 0 10px 10px 0;
    float: left;
    width: 267px;
    text-align: center;
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.iconset-list i {
    line-height: normal;
    margin: 10px 0;
    font-size: 32px
}
.iconset-list code {
    display: block;
    margin: 5px
}
.iconset-list-dark li {
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.inbox-container {
    background-color: #f9f9f9;
    width: 100%;
    display: table
}
.inbox-container-row {
    width: 100%;
    display: table-row
}
.inbox-list,
.inbox-menu,
.inbox-msg {
    display: table-cell;
    vertical-align: top
}
.inbox-menu {
    width: 200px;
    min-width: 200px;
    padding: 10px
}
.inbox-menu .nav {
    margin-bottom: 20px
}
.inbox-menu .nav li {
    margin: 0
}
.inbox-menu i {
    display: inline-block;
    width: 15px;
    margin-right: 10px
}
.inbox-menu a {
    padding-top: 12px!important;
    padding-bottom: 10px!important;
    margin: 0;
    color: #555
}
.inbox-menu a:hover {
    color: #555
}
.inbox-menu-count {
    float: right;
    font-weight: 700
}
.inbox-menu-count i {
    margin: 0;
    width: auto
}
.inbox-list {
    width: 270px;
    min-width: 270px;
    padding: 10px;
    background-color: #e1e1e1
}
.inbox-list .inbox-search {
    display: block;
    margin: 0 0 10px;
    border: 2px solid #fff
}
.inbox-list .nav {
    margin-bottom: 0
}
.inbox-list a {
    margin: 5px 0!important;
    padding: 10px!important;
    color: #333;
    border-left: 3px solid #ccc
}
.inbox-list a:hover {
    color: #333
}
.inbox-list li.active a {
    border: none
}
.inbox-list a.unread {
    border-color: #b1cc16
}
.inbox-list-meta,
.inbox-list-username {
    font-weight: 700;
    font-size: 12px;
    font-style: italic
}
.inbox-list-meta {
    float: right;
    font-weight: 400;
    margin: -5px -5px 0 0
}
.inbox-list-title {
    font-weight: 700;
    padding: 8px 0 0;
    display: inline-block
}
.inbox-list-preview {
    padding: 3px 0 0;
    line-height: 1.6;
    display: inline-block
}
.inbox-msg-actions {
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1
}
.inbox-msg-content {
    padding: 20px
}
.chat-container {
    background: #e1e1e1;
    border-bottom: none
}
.chat-messages,
.chat-people {
    height: 600px;
    overflow-y: scroll
}
.chat-people {
    padding: 0;
    margin: 0;
    width: 220px;
    float: right
}
.chat-people ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.chat-people img {
    margin-right: 10px;
    float: left;
    width: 40px;
    height: 40px
}
.chat-people a {
    min-height: 50px;
    line-height: 40px;
    display: block;
    color: #333;
    padding: 5px 10px;
    margin: 0 0 2px;
    font-weight: 700
}
.chat-people a.chat-online {
    border-left: 5px solid #b1cc16
}
.chat-people a.chat-away {
    border-left: 5px solid #fdbc4c
}
.chat-people a.chat-offline {
    border-left: 5px solid #fc4c4c
}
.chat-people a:hover,
.chat-people li.active a {
    background: #ccc;
    text-decoration: none;
    color: #000
}
.chat-messages {
    padding: 0;
    margin: 0;
    background-color: #fff
}
.chat-messages ul {
    list-style: none;
    padding: 5px 10px;
    margin: 0
}
.chat-messages li {
    margin: 5px 0;
    padding: 10px 10px 10px 68px;
    background-color: #e1e1e1;
    min-height: 68px;
    position: relative;
    text-align: left;
    color: #333
}
.chat-messages .chat-msg-user {
    background-color: #555;
    color: #fff
}
.chat-messages li img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px
}
.chat-messages .chat-msg-time {
    float: right;
    margin: 0 0 10px 10px;
    font-style: italic;
    font-size: 12px
}
.chat-messages .chat-msg-time a {
    font-weight: 700
}
.chat-input {
    padding: 5px 3px 3px
}
.chat-input .form-control {
    padding: 10px;
    height: 40px;
    margin: 0!important;
    border: none;
    opacity: .7;
    filter: alpha(opacity=70)
}
.chat-input .form-control:hover {
    opacity: .85;
    filter: alpha(opacity=85)
}
.chat-input .form-control:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}
.landing-container {
    padding-top: 40px
}
.landing-container header .nav-left {
    position: absolute;
    top: 0;
    left: 0
}
.landing-header {
    background: #333 url(../img/template/landing_bg.jpg) top center no-repeat;
    color: #fff;
    height: 360px
}
.landing-header .promo-text h1 {
    padding-top: 35px
}
.landing-header .promo-text {
    text-shadow: 0 1px 1px #000
}
.landing-section-outer {
    background-color: #f7f7f7;
    color: #333
}
.landing-section-outer.grey {
    background-color: #f1f1f1
}
.landing-section-outer.dark {
    background-color: #444;
    color: #ccc;
    border-top: 1px solid #222
}
.landing-section {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1140px;
    padding: 20px
}
.landing-section h4 {
    margin: 0 0 20px;
    padding-top: 10px
}
.landing-section p {
    margin: 0 0 15px
}
.landing-section-outer.dark a {
    color: #fff
}
.table.table-forum td,
.table.table-forum th {
    vertical-align: middle
}
.table.table-forum th {
    padding: 6px 8px 5px
}
.table.table-forum td {
    background-color: #fcfcfc
}
.table.table-forum .cell-stat {
    width: 80px
}
.table.table-forum .cell-stat-2x {
    width: 160px
}
.table.table-forum td.forum-post {
    padding: 5px 10px;
    vertical-align: top
}
.table.table-forum td.forum-post p {
    margin-bottom: 10px
}
.table.table-forum .forum-sign {
    margin: 0 -10px -5px;
    padding: 5px 10px;
    border-top: 1px solid #eee
}
.table.table-forum .forum-avatar {
    vertical-align: top;
    padding: 10px;
    width: 20%
}
.table.table-forum .forum-avatar img {
    max-width: 100%
}
.table.table-forum-cat h5 {
    margin: 0
}
.table.table-forum-cat td.sticky {
    background-color: #eee
}
p {
    margin-bottom: 15px
}
code,
pre {
    color: #545454;
    background-color: #f1f1f1;
    border: 1px solid #999;
    font-weight: 700;
    padding: 0 6px;
    display: inline-block;
    margin-bottom: 2px;
    text-indent: 0
}
.page-header,
.sub-header {
    margin: 0 0 20px;
    padding: 14px 10px 12px;
    border-bottom: 1px solid #ddd;
    background-color: #eee
}
.sub-header {
    border-width: 1px;
    padding: 14px 0 12px;
    background-color: #fff
}
.page-header .header-options {
    margin: -6px 0 0
}
.row-items>div[class*=" col-"],
.row-items>div[class^=col-] {
    margin-bottom: 15px
}
.grid-boxes>div>div {
    background: #ddd;
    margin: 0 0 15px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
[class*=" loader-"],
[class^=loader-] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    line-height: 16px;
    vertical-align: text-top;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 16px 16px
}
.loader-01 {
    background-image: url(../img/loading.gifs/loading01.gif)
}
.loader-02 {
    background-image: url(../img/loading.gifs/loading02.gif)
}
.loader-03 {
    background-image: url(../img/loading.gifs/loading03.gif)
}
.loader-04 {
    background-image: url(../img/loading.gifs/loading04.gif)
}
.loader-05 {
    background-image: url(../img/loading.gifs/loading05.gif)
}
.loader-06 {
    background-image: url(../img/loading.gifs/loading06.gif)
}
.loader-07 {
    background-image: url(../img/loading.gifs/loading07.gif)
}
.loader-08 {
    background-image: url(../img/loading.gifs/loading08.gif)
}
.loader-09 {
    background-image: url(../img/loading.gifs/loading09.gif)
}
.loader-10 {
    background-image: url(../img/loading.gifs/loading10.gif)
}
.loader-11 {
    background-image: url(../img/loading.gifs/loading11.gif)
}
.loader-12 {
    background-image: url(../img/loading.gifs/loading12.gif)
}
.loader-13 {
    background-image: url(../img/loading.gifs/loading13.gif)
}
.loader-14 {
    background-image: url(../img/loading.gifs/loading14.gif)
}
.loader-15 {
    background-image: url(../img/loading.gifs/loading15.gif)
}
.loader-16 {
    background-image: url(../img/loading.gifs/loading16.gif)
}
.loader-17 {
    background-image: url(../img/loading.gifs/loading17.gif)
}
.loader-18 {
    background-image: url(../img/loading.gifs/loading18.gif)
}
.loader-19 {
    background-image: url(../img/loading.gifs/loading19.gif)
}
.loader-20 {
    background-image: url(../img/loading.gifs/loading20.gif)
}
h1,
h1 small,
h2,
h2 small,
h3,
h3 small,
h4,
h4 small,
h5,
h5 small,
h6,
h6 small {
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
h1,
h2,
h3 {
    line-height: 40px
}
h4,
h5,
h6 {
    line-height: 20px
}
strong {
    font-weight: 600
}
.list-unstyled {
    padding-left: 20px
}
.list {
    margin-top: 10px;
    margin-bottom: 10px
}
.list dd,
.list dt,
.list li {
    margin-bottom: 5px
}
.well {
    background-color: #f9f9f9
}
.muted,
a.muted:focus,
a.muted:hover {
    color: #999
}
.text-warning,
a.text-warning:focus,
a.text-warning:hover {
    color: #fcbc4c
}
.text-danger,
a.text-danger:focus,
a.text-danger:hover {
    color: #fc4c4c
}
.text-info,
a.text-info:focus,
a.text-info:hover {
    color: #4cb9fc
}
.text-success,
a.text-success:focus,
a.text-success:hover {
    color: #b1cc16
}
.text-black,
a.text-black:focus,
a.text-black:hover {
    color: #000
}
.text-left {
    text-align: left!important
}
.text-right {
    text-align: right!important
}
.text-center {
    text-align: center!important
}
.badge,
.label {
    font-size: 15px;
    background-color: #999;
    text-shadow: none;
    padding: 3px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block
}
.badge-danger,
.badge-danger[href],
.badge-danger[href]:focus,
.badge-danger[href]:hover,
.label-danger,
.label-danger[href],
.label-danger[href]:focus,
.label-danger[href]:hover {
    background-color: #fc4c4c
}
.badge-warning,
.badge-warning[href],
.badge-warning[href]:focus,
.badge-warning[href]:hover,
.label-warning,
.label-warning[href],
.label-warning[href]:focus,
.label-warning[href]:hover {
    background-color: #fcbc4c
}
.badge-success,
.badge-success[href],
.badge-success[href]:focus,
.badge-success[href]:hover,
.label-success,
.label-success[href],
.label-success[href]:focus,
.label-success[href]:hover {
    background-color: #b1cc16
}
.badge-info,
.badge-info[href],
.badge-info[href]:focus,
.badge-info[href]:hover,
.label-info,
.label-info[href],
.label-info[href]:focus,
.label-info[href]:hover {
    background-color: #2980B9
}
.badge-info[href]:focus {
    background-color: #000;
    opacity: 1 !important;
}
.bgcolorblack {
    background-color: #000 !important;
}
.badge-inverse,
.badge-inverse[href],
.badge-inverse[href]:focus,
.badge-inverse[href]:hover,
.label-inverse,
.label-inverse[href],
.label-inverse[href]:focus,
.label-inverse[href]:hover {
    background-color: #555
}
.badge-neutral,
.badge-neutral[href],
.badge-neutral[href]:focus,
.badge-neutral[href]:hover,
.label-neutral,
.label-neutral[href],
.label-neutral[href]:focus,
.label-neutral[href]:hover {
    background-color: #e9e9e9;
    color: #333
}
.badge[href]:focus,
.badge[href]:hover,
.label[href]:focus,
.label[href]:hover {
    opacity: .5;
    filter: alpha(opacity=50)
}
.alert {
    border: none;
    text-shadow: none;
    margin-bottom: 15px
}
.alert h4,
.alert h5,
.alert h6 {
    margin: 0 0 2px
}
.alert-warning {
    color: #805100;
    background-color: #fce1b1
}
.alert-warning h4,
.alert-warning h5,
.alert-warning h6 {
    color: #805100
}
.alert-success {
    color: #598000;
    background-color: #e6fcb1
}
.alert-success h4,
.alert-success h5,
.alert-success h6 {
    color: #598000
}
.alert-info {
    color: #004f80;
    background-color: #b1dffc
}
.alert-info h4,
.alert-info h5,
.alert-info h6 {
    color: #004f80
}
.alert-danger,
.alert-error {
    color: maroon;
    background-color: #fcb1b1
}
.alert-danger h4,
.alert-danger h5,
.alert-danger h6,
.alert-error h4,
.alert-error h5,
.alert-error h6 {
    color: maroon
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 104px;
    font-size: 13px;
    border: 2px solid #2980b9
}
.dropdown-menu .divider {
    margin: 0;
    border-bottom: none
}
.dropdown-menu .nav-header,
.dropdown-menu>li {
    padding: 0 10px;
    text-shadow: none
}
.dropdown-menu>li>a {
    padding: 9px 12px 7px;
    margin: 0 -10px
}
.dropdown-menu:after,
.dropdown-menu:before {
    display: none!important
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #eee;
    color: #000;
    filter: none
}
.dropup .dropdown-menu {
    margin-bottom: 0
}
.navbar {
    padding: 0;
    border: none
}
.navbar.navbar-default {
    background: #ddd
}
.navbar.navbar-inverse {
    background: #2980b9
}
header.navbar {
    margin: 0;
    min-height: 41px;
    border-bottom: 1px solid #333
}
header.navbar .row {
    margin: 0;
    position: relative
}
header.navbar .row>div {
    position: static;
    padding: 0
}
header.navbar .dropdown-menu {
    margin-top: 1px
}
header.navbar.navbar-fixed-top {
    border: none;
    border-bottom: 2px solid #333;
    min-height: 42px
}
header.navbar.navbar-fixed-bottom {
    border: none;
    border-top: 2px solid #333;
    min-height: 42px
}
header.navbar.navbar-fixed-top .dropdown-menu {
    margin-top: 2px
}
header.navbar.navbar-fixed-bottom .dropdown-menu {
    margin-bottom: 2px
}
.navbar .navbar-brand {
    margin: 0;
    line-height: normal;
    padding: 7px 10px 0
}
.navbar.navbar-inverse .navbar-brand {
    color: #fff
}
header.navbar .navbar-brand {
    width: 109px;
    height: 40px;
    display: inline-block;
    padding: 0;
    margin: 0;
    float: none
}
.navbar.navbar-default .divider-vertical,
.navbar.navbar-inverse .divider-vertical {
    height: 40px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}
.navbar-nav-custom {
    list-style: none;
    padding: 0;
    margin: 0
}
.navbar-nav-custom>li {
    float: left;
    line-height: 20px
}
.navbar-nav-custom>li>a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff
}
.navbar.navbar-default .navbar-nav-custom li.dropdown.active>.dropdown-toggle,
.navbar.navbar-default .navbar-nav-custom li.dropdown.open.active>.dropdown-toggle,
.navbar.navbar-default .navbar-nav-custom li.dropdown.open>.dropdown-toggle,
.navbar.navbar-default .navbar-nav-custom>.active>a,
.navbar.navbar-default .navbar-nav-custom>.active>a:focus,
.navbar.navbar-default .navbar-nav-custom>.active>a:hover,
.navbar.navbar-default .navbar-nav-custom>li>a:active,
.navbar.navbar-default .navbar-nav-custom>li>a:focus,
.navbar.navbar-default .navbar-nav-custom>li>a:hover {
    background-color: #eee;
    color: #333;
    text-decoration: none
}
.navbar.navbar-inverse .navbar-nav-custom li.dropdown.active>.dropdown-toggle,
.navbar.navbar-inverse .navbar-nav-custom li.dropdown.open.active>.dropdown-toggle,
.navbar.navbar-inverse .navbar-nav-custom li.dropdown.open>.dropdown-toggle,
.navbar.navbar-inverse .navbar-nav-custom>.active>a,
.navbar.navbar-inverse .navbar-nav-custom>.active>a:focus,
.navbar.navbar-inverse .navbar-nav-custom>.active>a:hover,
.navbar.navbar-inverse .navbar-nav-custom>li>a:active,
.navbar.navbar-inverse .navbar-nav-custom>li>a:focus,
.navbar.navbar-inverse .navbar-nav-custom>li>a:hover {
    background-color: #555;
    color: #fff;
    text-decoration: none
}
.navbar.navbar-default .navbar-nav-custom>li>a:focus,
.navbar.navbar-inverse .navbar-nav-custom>li>a:focus {
    background: 0 0;
    outline: 0
}
.navbar a>.badge {
    padding: 3px 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}
.navbar .dropdown-menu {
    border-color: #ddd;
    border-top-width: 0
}
.navbar.navbar-inverse .dropdown-menu {
    border-color: #2980b9;
    border-top-width: 0
}
.navbar.navbar-fixed-bottom .dropdown .dropdown-menu {
    border-top-width: 2px;
    border-bottom-width: 0
}
.nav>li>a>i,
.navbar-nav-custom>li>a>i {
    font-size: 14px
}
.nav-pills.nav-stacked>li>a,
.nav-pills>li>a,
.nav-tabs.nav-stacked>li>a,
.nav-tabs>li>a {
    margin: 0;
    padding: 12px 14px
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #2980b9
}
.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 12px;
    background: #fff
}
.tab-content-default {
    border: none;
    padding: 0;
    margin: 0
}
.nav-right li {
    float: right
}
.panel-group .panel+.panel {
    margin-top: 0;
    border-top: none
}
.breadcrumb {
    padding: 10px 10px 7px;
    margin-bottom: 20px;
    background-color: #f0f0f0
}
.breadcrumb>li {
    text-shadow: none
}
.breadcrumb-top {
    background-color: #f9f9f9;
    padding: 8px 20px 6px;
    margin: -21px -20px 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}
.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #2980b9
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>span {
    color: #fff;
    background-color: #2980b9;
    border: 1px solid #2980b9
}
.media {
    padding: 15px 10px;
    margin: 0
}
.media-hover:hover {
    background: #eee
}
.modal-content {
    border: 3px solid #2980b9
}
.modal-header {
    padding: 2px 10px;
    background: #2980b9;
    color: #fff;
    border-bottom: none
}
.modal-footer {
    padding: 10px;
    background-color: #f4f4f4;
    border-top: none;
    margin-top: 5px
}
.carousel {
    border: 3px solid #2980b9;
    margin-bottom: 15px
}
.tooltip {
    font-size: 13px;
    z-index: 1052
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100)
}
.tooltip-inner {
    padding: 8px;
    background-color: #333
}
.tooltip.top .tooltip-arrow {
    border-top-color: #333
}
.tooltip.right .tooltip-arrow {
    border-right-color: #333
}
.tooltip.left .tooltip-arrow {
    border-left-color: #333
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #333
}
.tooltip.top {
    margin-top: -13px
}
.tooltip.right {
    margin-left: 13px
}
.tooltip.bottom {
    margin-top: 13px
}
.tooltip.left {
    margin-left: -13px
}
.control-label,
.form-control,
label {
    font-size: 13px
}
label {
    font-weight: 400
}
.control-label {
    font-weight: 600
}
.form-control,
.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-shadow: none
}
.form-control:focus {
    border-color: #555
}
.input-group .form-control,
.input-group .input-group-btn .btn {
    margin-top: 0;
    margin-bottom: 0
}
.input-group-addon {
    background-color: #f9f9f9
}
.form-horizontal,
.form-inline {
    margin: 0
}
.form-horizontal.form-bordered .form-group {
    border-bottom: 1px solid #ddd;
    margin: 0
}
.form-horizontal.form-bordered .form-group>.control-label,
.form-horizontal.form-bordered .form-group>div {
    padding-top: 10px;
    padding-bottom: 10px
}
.form-horizontal.form-bordered .form-group>.control-label {
    border-right: 1px solid #ddd;
    margin-right: -1px
}
.form-horizontal.form-bordered .form-group>div {
    border-left: 1px solid #ddd
}
.form-horizontal.form-bordered .form-group.form-actions {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f9f9f9
}
.form-horizontal.form-bordered .form-group.form-actions>div {
    border-left: none
}
.help-block {
    color: #777
}
.form-group.has-warning .control-label,
.form-group.has-warning .form-control,
.form-group.has-warning .help-block {
    color: #edb047
}
.form-group.has-warning .form-control {
    border-color: #edb047
}
.form-group.has-warning .input-group .input-group-addon {
    color: #edb047;
    background-color: #fce1b1;
    border-color: #edb047
}
.form-group.has-error .control-label,
.form-group.has-error .form-control,
.form-group.has-error .help-block {
    color: #ed4747
}
.form-group.has-error .form-control {
    border-color: #ed4747
}
.form-group.has-error .input-group .input-group-addon {
    color: #ed4747;
    background-color: #fcb1b1;
    border-color: #ed4747
}
.form-group.has-success .control-label,
.form-group.has-success .form-control,
.form-group.has-success .help-block {
    color: #9bb314
}
.form-group.has-success .form-control {
    border-color: #9bb314
}
.form-group.has-success .input-group .input-group-addon {
    color: #9bb314;
    background-color: #e6fcb1;
    border-color: #9bb314
}
.form-group.has-error .form-control:focus,
.form-group.has-success .form-control:focus,
.form-group.has-warning .form-control:focus {
    border-color: #555
}
input[type=email].form-control,
input[type=password].form-control,
input[type=text].form-control,
textarea.form-control {
    -webkit-appearance: none
}
textarea.form-control {
    max-width: 100%
}
.table {
    margin-bottom: 20px
}
.table tbody>tr>td,
.table tbody>tr>th,
.table tfoot>tr>td,
.table tfoot>tr>th,
.table thead>tr>td,
.table thead>tr>th {
    border-color: #eee;
    vertical-align: middle
}
.table tfoot>tr>th,
.table thead>tr>th {
    background: #2980b9;
    color: #fff;
    padding: 12px 8px;
    font-weight: 300;
    font-size: 15px
}
.table tbody>tr>th,
.table tfoot>tr>th {
    background-color: #eee!important;
    color: #333
}
.table thead>tr>th {
    border-bottom: none
}
.table tbody>tr>td,
.table tbody>tr>th {
    padding: 12px 8px 8px
}
.table tr:first-child>td {
    border-top: none
}
.table tr>td:first-child {
    border-left: none
}
.table.table-condensed thead>tr>th {
    padding-left: 5px;
    padding-right: 5px
}
.table.table-condensed tbody>tr>td,
.table.table-condensed tbody>tr>th {
    padding: 2px 5px 1px
}
.table.table-bordered {
    border: 2px solid #2980b9;
    border-top: none
}
.table.table-bordered tfoot>tr>th,
.table.table-bordered thead>tr>td,
.table.table-bordered thead>tr>th {
    border: none
}
.table.table-bordered tr>td,
.table.table-bordered tr>th {
    border-color: #ddd
}
.table.table-borderless tr>td,
.table.table-borderless tr>th {
    border-top: none
}
.table.table-hover tbody tr:hover>td,
.table.table-hover tbody tr:hover>th {
    background-color: #f1f1f1
}
.table tbody tr.success>td {
    background-color: #f1fcd7
}
.table tbody tr.danger>td {
    background-color: #fcd7d7
}
.table tbody tr.warning>td {
    background-color: #fcefd7
}
.table tbody tr.active>td {
    background-color: #d7eefc
}
.table.table-hover tbody tr.success:hover>td {
    background-color: #e6fcb1
}
.table.table-hover tbody tr.danger:hover>td {
    background-color: #fcb1b1
}
.table.table-hover tbody tr.warning:hover>td {
    background-color: #fce1b1
}
.table.table-hover tbody tr.active:hover>td {
    background-color: #b1dffc
}
.dataTables_wrapper>div {
    background-color: #f9f9f9;
    width: auto;
    border: 1px solid #ddd;
    border-top-width: 0
}
.dataTables_wrapper>div:first-child {
    border-top-width: 1px;
    border-bottom-width: 0
}
.dataTables_wrapper .row {
    margin: 0
}
.dataTables_wrapper .row>div {
    padding: 9px 10px
}
.dataTables_length label {
    float: left;
    margin: 0
}
.dataTables_filter label {
    width: 200px;
    margin: 0;
    float: right
}
.dataTables_info {
    height: 29px;
    line-height: 29px
}
.dataTables_paginate.paging_bootstrap {
    height: 29px
}
.dataTables_paginate {
    float: right
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc,
table.table thead .sorting_desc_disabled {
    cursor: pointer
}
.table thead .sorting,
.table thead .sorting_asc,
.table thead .sorting_asc_disabled,
.table thead .sorting_desc,
.table thead .sorting_desc_disabled {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 19px 19px
}
.table thead .sorting {
    background-image: url(../img/jquery.datatables/sort_both.png)
}
.table thead .sorting_asc {
    background-image: url(../img/jquery.datatables/sort_asc.png)
}
.table thead .sorting_desc {
    background-image: url(../img/jquery.datatables/sort_desc.png)
}
.table thead .sorting_asc_disabled {
    background-image: url(../img/jquery.datatables/sort_asc_disabled.png)
}
.table thead .sorting_desc_disabled {
    background-image: url(../img/jquery.datatables/sort_desc_disabled.png)
}
.dataTable {
    clear: both;
    margin-bottom: 0!important;
    max-width: none!important
}
.dataTable th:active {
    outline: 0
}
.dataTables_scrollHead table {
    margin-bottom: 0!important
}
.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0!important
}
.dataTables_scrollBody tbody tr:first-child td,
.dataTables_scrollBody tbody tr:first-child th,
.dataTables_scrollFoot table {
    border-top: none
}
.btn {
    text-shadow: none;
    border-width: 1px;
    border-style: solid;
    margin-top: 1px;
    margin-bottom: 1px
}
.btn.active,
.btn.disabled,
.btn:active,
.btn:focus,
.btn:hover,
.btn[disabled] {
    outline: 0
}
.btn-default,
.btn-default.active,
.btn-default.disabled,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default[disabled] {
    background-color: #ddd;
    border-color: #ddd
}
.btn-default {
    background: #eee
}
.btn-primary,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled] {
    background: #425edb;
    border-color: #425edb
}
.btn-primary {
    background: #4c82fc
}
.btn-success,
.btn-success.active,
.btn-success.disabled,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.btn-success[disabled] {
    background: #94ab13;
    border-color: #94ab13
}
.btn-success {
    background: #b1cc16
}
.btn-danger,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger[disabled] {
    background: #d00;
    border-color: #d00
}
.btn-danger {
    background: #fc4c4c
}
.btn-warning,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.btn-warning[disabled] {
    background: #e78700;
    border-color: #e78700
}
.btn-warning {
    background: #faa732
}
.btn-info,
.btn-info.active,
.btn-info.disabled,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-info[disabled] {
    background: #42a0db;
    border-color: #42a0db
}
.btn-info {
    background: #4cb9fc
}
.btn-inverse,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.btn-inverse[disabled] {
    background: #777;
    border-color: #777;
    color: #fff
}
.btn-inverse {
    background: #999
}
.btn-link,
.btn-link.active,
.btn-link.disabled,
.btn-link:active,
.btn-link:focus,
.btn-link:hover,
.btn-link[disabled] {
    color: #2980b9;
    background: 0 0;
    border-color: transparent
}
.btn-danger.active,
.btn-danger:active,
.btn-default.active,
.btn-default:active,
.btn-info.active,
.btn-info:active,
.btn-inverse.active,
.btn-inverse:active,
.btn-primary.active,
.btn-primary:active,
.btn-success.active,
.btn-success:active,
.btn-warning.active,
.btn-warning:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25)
}
.btn.disabled,
.btn[disabled] {
    border-color: transparent!important
}
.btn-group.open .btn-default.dropdown-toggle {
    background: #ccc;
    border-color: #ccc
}
.btn-group.open .btn-primary.dropdown-toggle {
    background: #425edb;
    border-color: #425edb
}
.btn-group.open .btn-success.dropdown-toggle {
    background: #94ab13;
    border-color: #94ab13
}
.btn-group.open .btn-danger.dropdown-toggle {
    background: #d00;
    border-color: #d00
}
.btn-group.open .btn-warning.dropdown-toggle {
    background: #e78700;
    border-color: #e78700
}
.btn-group.open .btn-info.dropdown-toggle {
    background: #42a0db;
    border-color: #42a0db
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background: #555;
    border-color: #555
}
.btn.btn-option {
    background-color: #fff;
    border-radius: 14px!important;
    padding: 4px 8px;
    border: none;
    min-width: 28px;
    height: 28px;
    text-align: center;
    color: #333;
    opacity: .8;
    filter: alpha(opacity=80)
}
.btn-group.open .btn.btn-option.dropdown-toggle,
.btn.btn-option:focus,
.btn.btn-option:hover {
    color: #333;
    background-color: #fff!important;
    opacity: 1;
    filter: alpha(opacity=100)
}
.popover {
    padding: 0;
    border: 2px solid #2980b9
}
.popover-title {
    margin: 0;
    padding: 7px 10px;
    color: #fff;
    font-weight: 700;
    background-color: #2980b9;
    border-bottom: none
}
.popover-content {
    padding: 7px 10px
}
.popover.top .arrow {
    bottom: -13px;
    border-top-color: #2980b9
}
.popover.top .arrow:after {
    border-top-color: #2980b9
}
.popover.right .arrow {
    left: -13px;
    border-right-color: #2980b9
}
.popover.right .arrow:after {
    border-right-color: #2980b9
}
.popover.bottom .arrow {
    border-bottom-color: #2980b9;
    top: -13px
}
.popover.bottom .arrow:after {
    border-bottom-color: #2980b9
}
.popover.left .arrow {
    right: -13px;
    border-left-color: #2980b9
}
.popover.left .arrow:after {
    border-left-color: #2980b9
}
.close {
    text-shadow: none;
    opacity: .4;
    filter: alpha(opacity=40)
}
.close:focus,
.close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0
}
.progress {
    margin-bottom: 10px
}
.progress .progress-bar {
    text-shadow: none;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease
}
.progress .progress-bar-danger {
    background-color: #fc4c4c
}
.progress .progress-bar-success {
    background-color: #b1cc16
}
.progress .progress-bar-info {
    background-color: #4cb9fc
}
.progress .progress-bar-warning {
    background-color: #fcbc4c
}
.progress-mini {
    height: 10px;
    margin: 5px 0
}
.progress-big {
    height: 30px;
    margin: 5px 0
}
.progress-big .progress-bar {
    font-size: 18px;
    line-height: 30px
}
a,
a.list-group-item,
a:active,
a:focus,
a:hover {
    color: #2980b9
}
.alert,
.breadcrumb,
.btn,
.carousel-control,
.dropdown-menu,
.form-control,
.input-group-addon,
.label,
.list-group-item,
.modal-content,
.nav-pills>li>a,
.nav-tabs>li>a,
.navbar,
.pager li>a,
.pager li>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.panel,
.popover,
.popover-title,
.progress,
.table-bordered,
.table-bordered td,
.table-bordered th,
.thumbnail,
.tooltip-inner,
.well {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.dropdown-menu,
.form-control,
.modal-footer,
.pagination,
.panel,
.popover,
.thumbnails-borderless a.thumbnail,
.thumbnails-borderless a.thumbnail:focus,
.thumbnails-borderless a.thumbnail:hover,
a.thumbnail-borderless,
a.thumbnail-borderless:focus,
a.thumbnail-borderless:hover {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important
}
.push {
    margin-bottom: 20px!important
}
.display-none,
.lt-ie9 .hidden-lt-ie9 {
    display: none
}
.remove-margin {
    margin: 0!important
}
.remove-padding {
    padding: 0!important
}
.remove-radius {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.remove-box-shadow {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important
}
.remove-transition {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}
:focus {
    outline: 0!important
}
@media (min-width: 992px) {
    .hide-side-content #page-sidebar {
        display: none!important
    }
    .hide-side-content #page-content,
    .hide-side-content #page-content+footer,
    .hide-side-content #pre-page-content {
        margin: 0;
        border-left: none
    }
    .hide-side-content .affix {
        margin-left: 0!important
    }
}
@media (max-width: 991px) {
    #login-container {
        padding: 205px 0 10px
    }
    .login-btn,
    .login-btnnew {
        top: 175px
    }
    .login-btn.login-animate {
        top: 20px
    }
    .login-btnnew.login-animate {
        top: 20px
    }
    .no-animation .login-btn {
        top: 20px!important
    }
    .no-animation .login-btnnew {
        top: 20px!important
    }
    #page-container,
    .landing-container {
        width: 100%
    }
    .full-width .affix {
        margin-left: 0!important
    }
    #top-search .form-control {
        width: 80px
    }
    #top-search .form-control:focus {
        width: 230px
    }
    #mobile-nav {
        position: absolute;
        left: 0
    }
    #page-sidebar {
        width: 100%;
        background: #ddd;
        border: none;
        z-index: 999;
        position: relative!important;
        top: auto!important;
        bottom: auto!important
    }
    #page-sidebar.navbar-collapse.collapse {
        display: none!important;
        height: 0!important;
        overflow-y: hidden!important
    }
    #page-sidebar.navbar-collapse.collapse.in {
        display: block!important;
        height: auto!important
    }
    body.header-fixed-bottom #page-sidebar.navbar-collapse,
    body.header-fixed-top #page-sidebar.navbar-collapse {
        position: fixed!important;
        overflow-y: scroll!important;
        max-height: 340px!important
    }
    body.header-fixed-bottom #page-sidebar.navbar-collapse.collapse,
    body.header-fixed-top #page-sidebar.navbar-collapse.collapse {
        height: 340px!important
    }
    body.header-fixed-bottom #page-sidebar.navbar-collapse.sticky,
    body.header-fixed-top #page-sidebar.navbar-collapse.sticky {
        overflow-y: hidden!important
    }
    body.header-fixed-top #page-sidebar {
        top: 42px!important;
        bottom: auto!important
    }
    body.header-fixed-bottom #page-sidebar {
        top: auto!important;
        bottom: 42px!important
    }
    #page-content,
    #page-content+footer,
    #pre-page-content {
        margin: 0;
        border-left: none
    }
    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
        border: none
    }
    .nav-collapse .dropdown-menu a,
    .nav-collapse .nav>li>a {
        padding: 9px 15px;
        font-weight: 700;
        color: #777;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
    .navbar-inverse .nav-collapse .nav-header,
    .navbar-inverse .nav-collapse a {
        color: #fff!important
    }
    .navbar-inverse .nav-collapse .dropdown-menu a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .nav>li>a:focus,
    .navbar-inverse .nav-collapse .nav>li>a:hover {
        background-color: #4b4b4b;
        color: #fff
    }
    .form-horizontal.form-bordered .form-group>.control-label[class*=" col-md"],
    .form-horizontal.form-bordered .form-group>.control-label[class^=col-md] {
        border-right: none;
        margin-right: 0
    }
    .form-horizontal.form-bordered .form-group>div[class*=" col-md"],
    .form-horizontal.form-bordered .form-group>div[class^=col-md] {
        border-left: none;
        padding-top: 0;
        padding-bottom: 9px
    }
    .form-horizontal.form-bordered .form-group.form-actions {
        padding-bottom: 0
    }
    .tile {
        width: 140px!important;
        height: 140px!important
    }
    .tile>i {
        width: 120px!important;
        padding-top: 20px!important
    }
    .tile-info {
        width: 140px!important
    }
    .tile>i.gi,
    .tile>i.hi {
        padding-top: 7px!important
    }
    .tile>i.fi,
    .tile>i.si {
        padding-top: 16px!important
    }
    .landing-header .promo-image {
        padding-top: 50px
    }
    .landing-header .promo-image img {
        width: 300px
    }
}
@media (max-width: 767px) {
    .login-btn,
    .login-btnnew {
        top: 75px
    }
    body {
        padding: 0
    }
    header.navbar {
        min-height: 81px
    }
    header.navbar.navbar-fixed-bottom,
    header.navbar.navbar-fixed-top {
        min-height: 82px
    }
    .header-fixed-top #page-container {
        padding: 82px 0 0
    }
    .header-fixed-bottom #page-container {
        padding: 0 0 82px
    }
    body.header-fixed-top #page-sidebar {
        top: 82px!important;
        bottom: auto!important
    }
    body.header-fixed-bottom #page-sidebar {
        top: auto!important;
        bottom: 82px!important
    }
    header.navbar.navbar-fixed-bottom .dropdown-menu {
        margin-bottom: 0
    }
    .landing-container header.navbar {
        min-height: 42px
    }
    #top-search {
        left: 0
    }
    #top-search .form-control:focus {
        width: 190px
    }
    #mobile-nav {
        position: static;
        left: auto
    }
    .header-fixed-top .affix {
        top: 82px
    }
    #page-content,
    #pre-page-content {
        padding: 10px 15px
    }
    #pre-page-content {
        min-height: 0
    }
    #pre-page-content h1 {
        font-size: 26px
    }
    #pre-page-content h1 small {
        font-size: 16px
    }
    .block,
    .block-section,
    .breadcrumb,
    .table {
        margin-bottom: 10px
    }
    .breadcrumb-top {
        margin: -11px -15px 15px
    }
    .block.block-tiles {
        margin-bottom: 4px
    }
    .block-content {
        padding: 15px 15px 5px
    }
    .block-content.full,
    .block-tabs.block-themed>.tab-content,
    .block-tabs>.tab-content {
        padding: 15px
    }
    .alert,
    .block .block,
    .carousel,
    .grid-boxes>div>div,
    .push,
    .row-items>div[class*=" col-"],
    .row-items>div[class^=col-],
    p,
    pre[class*=language-] {
        margin: 0 0 10px
    }
    .form-horizontal.form-bordered .form-group>.control-label[class*=" col-sm"],
    .form-horizontal.form-bordered .form-group>.control-label[class^=col-sm] {
        border-right: none;
        margin-right: 0
    }
    .form-horizontal.form-bordered .form-group>div[class*=" col-sm"],
    .form-horizontal.form-bordered .form-group>div[class^=col-sm] {
        border-left: none;
        padding-top: 0;
        padding-bottom: 9px
    }
    .tile {
        width: 142px!important;
        height: 142px!important
    }
    .tile>i {
        width: 122px!important
    }
    .tile-info {
        width: 142px!important
    }
    #header-nav-section {
        background-color: #444
    }
    .page-header,
    .sub-header {
        margin: 10px 0
    }
    .chart-live {
        height: 300px
    }
    .fc-header-title h2 {
        font-size: 1.1em
    }
    .inbox-list,
    .inbox-menu,
    .inbox-msg {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%
    }
    .inbox-list ul,
    .inbox-menu {
        height: 250px;
        overflow-y: scroll
    }
    .inbox-menu {
        border-bottom: 2px solid #999
    }
    .inbox-list {
        padding: 0;
        border-bottom: 2px solid #999
    }
    .inbox-list .inbox-search {
        margin: 0
    }
    .inbox-list ul {
        border-top: 2px solid #999
    }
    .chat-people {
        width: 180px
    }
    .error-container.standalone {
        margin-top: 0
    }
}
@media (max-width: 480px) {
    #top-search .form-control:focus {
        width: 310px
    }
    #pre-page-content h1 i {
        display: none
    }
    .timeline {
        margin: 0 0 0 50px;
        padding: 0 0 0 10px
    }
    .timeline li {
        padding: 10px
    }
    .timeline-avatar {
        margin: 0 0 10px;
        float: none
    }
    .timeline-meta-cat {
        left: -58px
    }
    .timeline-meta-time {
        float: right;
        top: auto;
        left: auto;
        width: auto;
        height: 20px;
        padding: 0;
        line-height: 20px;
        position: static
    }
    .plan-featured {
        border-width: 5px
    }
    .fc-header td {
        display: block
    }
    .fc-header-right {
        padding-left: 10px
    }
    .error-container {
        padding: 10px
    }
    .chat-people {
        border-bottom: 2px solid #999;
        height: 200px;
        float: none;
        width: auto
    }
    .chat-messages {
        height: 300px
    }
    .landing-header .promo-text h3 {
        font-size: 20px;
        line-height: 1.7
    }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    body {
        background-image: url(../img/template/bg@2x.png)
    }
    .table thead .sorting {
        background-image: url(../img/jquery.datatables/sort_both@2x.png)
    }
    .table thead .sorting_asc {
        background-image: url(../img/jquery.datatables/sort_asc@2x.png)
    }
    .table thead .sorting_desc {
        background-image: url(../img/jquery.datatables/sort_desc@2x.png)
    }
    .table thead .sorting_asc_disabled {
        background-image: url(../img/jquery.datatables/sort_asc_disabled@2x.png)
    }
    .table thead .sorting_desc_disabled {
        background-image: url(../img/jquery.datatables/sort_desc_disabled@2x.png)
    }
    .loader-01 {
        background-image: url(../img/loading.gifs/loading01@2x.gif)
    }
    .loader-02 {
        background-image: url(../img/loading.gifs/loading02@2x.gif)
    }
    .loader-03 {
        background-image: url(../img/loading.gifs/loading03@2x.gif)
    }
    .loader-04 {
        background-image: url(../img/loading.gifs/loading04@2x.gif)
    }
    .loader-05 {
        background-image: url(../img/loading.gifs/loading05@2x.gif)
    }
    .loader-06 {
        background-image: url(../img/loading.gifs/loading06@2x.gif)
    }
    .loader-07 {
        background-image: url(../img/loading.gifs/loading07@2x.gif)
    }
    .loader-08 {
        background-image: url(../img/loading.gifs/loading08@2x.gif)
    }
    .loader-09 {
        background-image: url(../img/loading.gifs/loading09@2x.gif)
    }
    .loader-10 {
        background-image: url(../img/loading.gifs/loading10@2x.gif)
    }
    .loader-11 {
        background-image: url(../img/loading.gifs/loading11@2x.gif)
    }
    .loader-12 {
        background-image: url(../img/loading.gifs/loading12@2x.gif)
    }
    .loader-13 {
        background-image: url(../img/loading.gifs/loading13@2x.gif)
    }
    .loader-14 {
        background-image: url(../img/loading.gifs/loading14@2x.gif)
    }
    .loader-15 {
        background-image: url(../img/loading.gifs/loading15@2x.gif)
    }
    .loader-16 {
        background-image: url(../img/loading.gifs/loading16@2x.gif)
    }
    .loader-17 {
        background-image: url(../img/loading.gifs/loading17@2x.gif)
    }
    .loader-18 {
        background-image: url(../img/loading.gifs/loading18@2x.gif)
    }
    .loader-19 {
        background-image: url(../img/loading.gifs/loading19@2x.gif)
    }
    .loader-20 {
        background-image: url(../img/loading.gifs/loading20@2x.gif)
    }
}
