<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="padding:0px;">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update Course</h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value " ng-change="removeBorder('colg_name',colg_name);" ng-readonly="readcolg" ng-disabled="colgdis">
		                    	 </select>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream Name :</span>
                                 <select class="form-control"  id="stream_name" ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="getDeptData(stream_name,'stream_name')" ng-readonly="readstrm" ng-disabled="strmdis">
		                    	 </select>
								</div> 
                               
								<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course Name :</span>
                                <input type="text" name="shortname" id="resourcecoursename" class="form-control" placeholder="Add Course Name" ng-model="course_name" ng-keypress="clearField('resourcecoursename');" >
								</div> 
                                 </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course Code :</span>
                                <input type="text" name="shortname" id="resourceshortname" class="form-control" placeholder="Add course code" ng-model="short_name" ng-keypress="clearField('resourceshortname');" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">No of semesters:</span>
                                <select class="form-control"  id="resourcesem" ng-model="semester"  ng-change="clearsemBorder('resourcesem',semester);" >
                                <option value="">Select no of semesters</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                                 <option value="4">4</option>
                                 <option value="5">5</option>
                                 <option value="6">6</option>
                                 <option value="7">7</option>
                                 <option value="8">8</option>
                                 <option value="9">9</option>
                                 <option value="10">10</option>
								 </select>
		                    	 </select>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addCourseData();"  id="addProfileData" ng-value="buttonName"/>
                              <input type="button" class="btn btn-red" ng-click="CancelCourseData();"  ng-value="cancelbuttonName" ng-show="showCancel" />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12" style="padding:0px;">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Course</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-3 col-sm-3">

                                             <col class="col-md-1 col-sm-3">
                                             <col class="col-md-2 col-sm-3">
                                             <col class="col-md-2 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>
                                                     <select style="width:100%; border:none; font-weight:bold;" ng-options="colg.name for colg in listOfSearchCollege track by colg.value" ng-model="colgSearch">
                                                    <option value="">College Name</option>
                                                    </select>
                                                    </th>
                                                    <th>Stream Name</th>
                                                    <th>Course Name</th>
                                                    <th>Code</th>
                                                    <th>Semester</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="cor in courseData | filter:{colg_name:colgSearch.name} | orderBy:'course_name'">
                                                    <td>{{$index+1}}</td>
													<td>{{cor.colg_name}}</td>
                                                    <td>{{cor.stream_name}}</td>
                                                    <td>{{cor.course_name}}</td>
                                                    <td>{{cor.short_name}}</td>
                                                    <td>{{cor.semester}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='dashboard.deptmanagement.course'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editRoleData(cor.course_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='dashboard.deptmanagement.course'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteRoleData(cor.course_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>