<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Princpal </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Princpal name :</span>
                                <input type="text" name="colgmname" id="colgmname" class="form-control" placeholder="Add princpal name" ng-model="princpalname" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">DOJ :</span>
								<input type="text" name="itemname" id="contactno" class="form-control" placeholder="Date of joining" ng-model="doj" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email :</span>
								<input type="email" name="itemname" id="contactno" class="form-control" placeholder="add email id" ng-model="email" >
								</div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Login Name :</span>
                                <input type="text" name="itemname" id="contactno" class="form-control" placeholder="Login Name" ng-model="email" readonly="readonly" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                <input type="password" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="password" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Retype Password :</span>
                                <input type="password" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="repass" >
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addPrincpalData();"  id="addProfileData" value="Save"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>