<div>
     <tabset>
    <tab ui-sref="dashboard.user.usermanagement" active="userTabs[1]">
      <tab-heading>Add User</tab-heading>
    </tab>
    <tab ui-sref="dashboard.user.role" active="userTabs[2]">
      <tab-heading>User Role</tab-heading>
    </tab>
  </tabset>
  <div ui-view></div>
</div>