<div>
<uib-tabset> 

<uib-tab ui-sref="dashboard.analytics.summary" active="anatabs[1]"> 
<uib-tab-heading>SUMMARY</uib-tab-heading> 
</uib-tab> 

<uib-tab ui-sref="dashboard.analytics.details" active="anatabs[2]"> 
<uib-tab-heading>DETAILS</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.analytics.subcategorysummary" active="anatabs[3]"> 
<uib-tab-heading>SUBCATEGORY SUMMARY</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.analytics.subcategorydetails" active="anatabs[4]"> 
<uib-tab-heading>SUBCATEGORY DETAILS</uib-tab-heading> 
</uib-tab> 

</uib-tabset> 
<div ui-view autoscroll="off"></div>
</div>