<div>
<uib-tabset> 
<uib-tab ui-sref="dashboard.category.special" active="Depttabs[4]"> 
<uib-tab-heading>Manage Special</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.category.cat" active="Depttabs[1]"> 
<uib-tab-heading>Manage Category</uib-tab-heading> 
</uib-tab> 

<uib-tab ui-sref="dashboard.category.subcat" active="Depttabs[2]"> 
<uib-tab-heading>Manage Subcategory</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.category.city" active="Depttabs[3]"> 
<uib-tab-heading>Manage City</uib-tab-heading> 
</uib-tab> 
</uib-tabset> 
<div ui-view></div>
</div>