<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Business</h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Business</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body" style="padding-bottom:0px">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Name :</span>
                               <select class="form-control"  id="restau" ng-model="restaurant" ng-options="qua.name for qua in listOfRestaurant | orderBy:'name' track by qua.value " ng-change="getPeerBusiness();">
                                   <option value="" >Select Business Name</option> 
                                </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                Want to display on mobile screen ? : <span style="margin-left:20px;"><input type="radio" name="mobscreen" id="yesmob" ng-model="mobscreen" ng-value="1"> Yes <input type="radio" name="mobscreen" id="nomob" ng-model="mobscreen" ng-value="0"> No</span>
								</div>
                               
                                 </div>
                                
                                
                                <div class="col-md-6"> 
                                  <div class="input-group bmargindiv1 col-md-12">
                                    <div ng-class="{ 'myError': billdata.bannerimage.$touched && billdata.bannerimage.$invalid }">
                                      <div class="image-upload text-center">
                                      <label for="imagefile1">
                                      <img ng-src="{{attchImage1}}" style="cursor:pointer;width:auto; height:160px; border:1px #666 solid"/>
                                      </label>
                                        <input type="file"  data-size="lg" name="bannerimage" id="imagefile1"  ng-model="file" ngf-pattern="image/*" accept="image/*"  ngf-max-size="2MB" custom-on-change="uploadFile"  ngf-select="onFileSelect($file);" >
                                        <div class="input-group bmargindiv1 col-md-12">
                                        <label for="imagefile1" >
                        <span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Logo </span>
                                         <input type="hidden" name="someData" ng-model="imageData" />
                                        </label>
                                        </div>
                                        
                                        </div>
                                        </div>
                                    <p>Recommended image size is 400 x 400 pixel</p>
								                  </div>	
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    <div style="text-align:center; padding:10px 0px;">
                    
                  <input type="button" class="btn btn-success" ng-click="addBusinessDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/><input type="button" class="btn btn-red" ng-click="clearBusinessData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/></div>
                    
                    
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>	 	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                   
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Promotions</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
                                        <div class="input-group" style="margin-bottom:10px; width:300px;">
											<input class="form-control" placeholder="Type Business Name" name="q" type="text" ng-model="restName">
									   </div>
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Business Name</th>
                                                    <th>
                                                   Image
                                                    </th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    <th>Action</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr>
                                               		<tr ng-repeat="cus in listOfBusiData | startsLetter:restName">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cus.rest_name}}</td>
                                                    <td><img ng-src="upload/{{cus.image}}" name="pro" border="0" style="width:50px; height:50px; border:#808080 1px solid;" /></td>
                                         			<td >
                                                    <a ui-sref="dashboard.customer.addbusiness">
                    													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editBusinessData(cus.bid);">  
                    													</a>
                    													</td>
                                              <td >
                                                    <a ui-sref="dashboard.customer.addbusiness">
                                              <input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteBusinessData(cus.bid);">  
                                              </a>
                                              </td>
                                                    <td ng-if="cus.status==1">
                                                    <a ui-sref="dashboard.customer.addbusiness">
                                                     <input type='button' class='btn btn-xs btn-green' value='Active' ng-click="inactiveBusinessData(cus.bid,cus.status);">  
                                                    </a>
                                                    </td>
                                                     <td ng-if="cus.status==0">
                                                      <a ui-sref="dashboard.customer.addbusiness">
                                                    <input type='button' class='btn btn-xs btn-red' value='Inactive' ng-click="inactiveBusinessData(cus.bid,cus.status);" >
                                                    </a>
                                                    </td>
													</tr>	
                                                     <tr ng-if="listOfBusiData.length <= 0">
                                                    <td colspan="6">
                                                        <center>
                                                          <p><b>No Record Found</b>
                                                          </p>
                                                       </center>
                                                    </td>
                                                    </tr>
											</tbody>
										</table>
                                        </div>
                                       <!-- <div class="pull-right">
                                            <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				                            </dir-pagination-controls>
                                        </div>-->
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>

