<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> New Customer Registration </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					<!--<input type="button" class="btn btn-success"  id="saveData" value="Add"   style="margin-right:20px; margin-left:20px;" ng-show="displaycopy" ng-click="displayResaurant();"/>-->
                     <div class="col-md-4">
                                                            <div class="input-group bmargindiv1 col-md-12" style="margin-top: 10px;">
                                                            <span class="input-group-addon ndrftextwidth" style="width:120px; text-align:left;">Business Name :</span>
                                                           <select  class="form-control" name="restname" id="restname" ng-model="restname" ng-options="result.name for result in listRestaurant | orderBy:'name' track by result.value "  ng-change="copyRestaurantDetails();">
                                                                <option value="" >Select Business Name</option> 
                                                          </select>
                                                            </div>
                                                        </div>
                    <div class="clearfix"></div>
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Business Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Name :</span>
                                <input type="text" name="colgname1" id="colgname1" class="form-control oditek-form" placeholder="Add  Business Name" ng-model="name" ng-keypress="clearField('colgname1');"  maxlength="50">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Quadrant :</span>
                                <select class="form-control"  id="quadrant" ng-model="quadrant" ng-options="qua.name for qua in listOfQuadrant track by qua.value " >
		                    	 </select>
								</div>
                               <!-- <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Special :</span>
                                <select class="form-control"  id="special" ng-model="special" ng-options="qua.name for qua in listOfSpecial track by qua.value " >
		                    	 </select>
								</div>-->
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Address :</span>
								<textarea id="address" name="address" class="form-control oditek-form" placeholder="Add Postal Address" rows="4" ng-model="address" style="height:70px" ng-keypress="clearField('address');"></textarea>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Special Type :</span>
								<!--<select class="form-control"  id="specials" ng-model="special" ng-options="spec.name for spec in listOfSpecial track by spec.value "  ng-change="setCategoryValue();">
		                    	 </select> -->
                           <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings" class="form-control" id="specials" events="onItemSelect();"></div>
								</div>
                                 <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">City :</span>
								 <input type="text" name="city" id="citycode" class="form-control oditek-form" placeholder="Add City" ng-model="citycode" ng-keypress="clearField('citycode');"  maxlength="30" >
								</div>-->
								<div class="bmargindiv1 text-center">
									<input type="button" value="Set Special" class="btn btn-success" name="" ng-click="setMultipleSpecial();"/>
								</div>
                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">City :</span>
                                <select class="form-control" name="city"  id="city" ng-model="citycode" ng-options="qua.name for qua in listOfCity track by qua.value " >
		                    	 </select>
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Province:</span>
								 <input type="text" name="proviance" id="proviance" class="form-control oditek-form" placeholder="Add Province" ng-model="proviance" ng-keypress="clearField('proviance');"  maxlength="30" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Postal Code:</span>
                                  <div ng-class="{ 'myError': billdata.postal.$touched && billdata.postal.$invalid }">
								 <input type="text" name="postal" id="postal" class="form-control oditek-form" placeholder="Add postal code" ng-model="postal" ng-keypress="clearField('postal');"  maxlength="30" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/">
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.postal.$error" ng-if="billdata.postal.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only alphanumeric value(e.g-0,1..9 and a,b,c,d...z and A,B,C,D...Z).</p>
                                </div> 
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Mobile No (10 digits) :</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Add Mobile No" ng-model="mobno"  ng-pattern="/^[0-9]{10,10}$/" ng-keypress="clearField('mobno');" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">Please add a valid 10 digit mobile no.</p>
                                </div>
                                
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Email Address :</span>
                                <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                                <input type="email" name="email" id="email" class="form-control oditek-form" placeholder="Add Email Address" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-keypress="clearField('email');"   maxlength="50">
                                </div>
								</div>
                                
                                <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                </div>
                                
                                
                                
                                
                               
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Pin Code :</span>
								 <input type="text" name="pincode" id="pincode" class="form-control oditek-form" placeholder="Add postal pin code" ng-model="pincode" ng-keypress="clearField('pincode');"  maxlength="30" >
								</div>-->
                               
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Country :</span>
								 <input type="text" name="country" id="con" class="form-control oditek-form" placeholder="Add Country" ng-model="country" ng-keypress="clearField('con');">
								</div>
								<div ng-repeat="mul in mulImage">
								<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Image{{$index+1}}:</span>
                                <div>
                                <div ng-class="{'myError': billdata.upload_{{$index}}.$touched && billdata.upload_{{$index}}.$invalid }">
                                <input type="file" class="filestyle form-control" data-size="lg" name="upload_{{$index}}" id="bannerimage_{{$index}}"  ng-model="mul.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" ngf-select="onFileSelect1($index);">
                                <div style="clear:both;"></div>
                                </div>
                                </div>
                                <span class="input-group-btn" ng-show="mulImage.length>0">
                                  <a ng-href="{{attchImage}}" data-spzoom data-spzoom-width="400" data-spzoom-height="400" class="figure-img"><img ngf-thumbnail="mul.image" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.image !=null"></a><img ng-src="upload/{{mul.filename}}" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.filename!=''">
								  <input type="button" class="btn btn-success" name="plus" id="plus" value="+" ng-click="addNewImageRow(mulImage);" ng-show="$last"> <input type="button" class="btn btn-danger" name="minus" id="minus" value="-"  ng-show="mulImage.length>1" ng-click="deleteNewImageRow(mulImage,$index);">
                                  
                                 </span>
                                </div>
								<div class="help-block" ng-messages="billdata['upload_'+$index].$error" ng-if="billdata['upload_'+$index].$touched">
                                  <p ng-message="maxSize" style="color:#F00;">File is too large.Max size is 2 mb.</p>
							       <p ng-message="minHeight" style="color:#F00;">Minimum height should be 400px</p>
                                  <p ng-message="pattern" style="color:#F00;">This field only accept image file('.jpg,.png,.jpeg') </p>
                              </div>
								</div>
                                 </div>
                                
                                
                                <div class="col-md-6"> 
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Country :</span>
								 <input type="text" name="country" id="con" class="form-control oditek-form" placeholder="Add Country" ng-model="country" ng-keypress="clearField('con');">
								</div>-->
                              <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Latitude:</span>
                                 <div ng-class="{ 'myError': billdata.latitude.$touched && billdata.latitude.$invalid }">
                                <input type="text" name="latitude" id="latitude" class="form-control oditek-form" placeholder="Add Latitude coordinate" ng-model="latitude"  ng-keypress="clearField('businessno');" ng-pattern="/^[-+]?[0-9]{1,7}(\.[0-9]+)?$/">
                                  </div>
								<span class="input-group-btn">
								  <a ui-sref="dashboard.customer.new" class="btn btn-success" style="height:30px;" title="Click Here" ng-click="getLatValue();"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                </span>
                                </div>
                                <div class="help-block" ng-messages="billdata.latitude.$error" ng-if="billdata.latitude.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Longitude:</span>
                                 <div ng-class="{ 'myError': billdata.longitude.$touched && billdata.longitude.$invalid }">
                                <input type="text" name="longitude" id="longitude" class="form-control oditek-form" placeholder="Add Longitude coordinate" ng-model="longitude"  ng-keypress="clearField('businessno');" ng-pattern="/^[-+]?[0-9]{1,7}(\.[0-9]+)?$/">
                                    </div>
								<!--<span class="input-group-btn">
								  <a ui-sref="dashboard.customer.new" class="btn btn-success" style="height:30px;" title="Click Here" ng-click="getLongValue();"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                </span>-->
                                </div>
                                   <div class="help-block" ng-messages="billdata.longitude.$error" ng-if="billdata.longitude.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>  
                                <div class="input-group bmargindiv1 col-md-12" ng-if=" latitude && longitude">
                                    <a ng-click="getMap();" target="_blank" href="">Display Location On The Map</a>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Phone No:</span>
                                <div ng-class="{ 'myError': billdata.businessno.$touched && billdata.businessno.$invalid }">
                                <input type="text" name="businessno" id="businessno" class="form-control oditek-form" placeholder="Add  Business Phone no" ng-model="businessno"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-keypress="clearField('businessno');" >
                                </div>
                                
								</div>
                                <div class="help-block" ng-messages="billdata.businessno.$error" ng-if="billdata.businessno.$touched">
                                <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Website URL:</span>
                                <div ng-class="{ 'myError': billdata.url.$touched && billdata.url.$invalid }">
								 <input type="url" name="url" id="weburl" class="form-control oditek-form" placeholder="Add Website URL" ng-model="url" ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/" ng-keypress="clearField('weburl');">
								</div>
                                </div>
                                <div class="help-block" ng-messages="billdata.url.$error" ng-if="billdata.url.$touched">
                                <p ng-message="pattern" style="color:#F00;">Sorry Not a Valid URL, Don't Forget to Use http:// or https://</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Contact Person :</span>
								 <input type="text" name="conperson" id="conper" class="form-control oditek-form" placeholder="Add Contact Person" ng-model="conperson" ng-keypress="clearField('conper');">
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Contact Person No:</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Add Contact Person No" ng-model="mobno"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-keypress="clearField('mobno');" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email :</span>
                                <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                        <input type="text" name="email" id="emailid" class="form-control" placeholder="Add Email" ng-model="email" ng-keypress="clearField('emailid');" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                                <div style="clear:both;"></div>
                                </div>
                                </div>
                                <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Status :</span>
								 <select class="form-control" name="status"  id="status" ng-model="status"  ng-change="removeGSTValue('status');">
                                 <option value="">Select Status</option>
                                 <option value="1">Active</option>
                                 <option value="0">Inactive</option>
								 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Premium Service :</span>
								 <select class="form-control" name="premium_service"  id="service" ng-model="premium_service"  ng-change="removeGSTValue('service');">
                                 <option value="">Select Service</option>
                                 <option value="1">Yes</option>
                                 <option value="0">No</option>
								 </select>
								</div>
                               <!-- <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Need to Link ? :</span>
								 <select class="form-control" name="premium_service"  id="linkstatus" ng-model="need_to_link"  ng-change="removeGSTValue('service');">
                                 <option value="">Select</option>
                                 <option value="1">Yes</option>
                                 <option value="0">No</option>
								 </select>
								</div> -->
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Peer Bussines Name:</span>
								 <select  class="form-control" name="parentrestname" id="parentrestname" ng-model="parentrestname" ng-options="result.name for result in listRestaurant  | orderBy:'name' track by result.value ">
                                  <option value="" >Select Business Name</option> 
                                 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="status==1">
                                <div ng-class="{ 'myError': billdata.bannerimage.$touched && billdata.bannerimage.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile1">
 								<img ng-src="{{attchImage1}}" style="cursor:pointer;width:auto; height:160px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage" id="imagefile1"  ng-model="file" ngf-pattern="image/*" accept="image/*"  ngf-max-size="2MB" custom-on-change="uploadFile"  ngf-select="onFileSelect($file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile1" >
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                 <input type="hidden" name="someData" ng-model="imageData" />
                                </label>
                                </div>
                                
                                </div>
                                </div>
                               <p>Recommended image size is 400 x 400 pixel</p>
                                </div>
              
                                <div class="help-block" ng-messages="billdata.bannerimage.$error" ng-if="billdata.bannerimage.$touched">
                              <p ng-message="maxSize" style="color:#F00;">File is too large.Max size is 2 mb.</p>
                              </div>
                                


                                
                                
                                
                                
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i> Specials</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    	<div class="table-responsive dashboard-demo-table">
                                    <!--<input type="button" class="btn btn-success"  id="addProfileData" exportTable="exportAction" value="PDF"/>-->
                                     
							<table ng-init="init()" class="table table-bordered table-striped table-hover" id="dataTable">

    <thead>
      <tr>
        <th>Day</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Comments Or special promotion</th>
        <th>Add More</th>
      </tr>
    </thead>

   <!-- <tbody id="detailsstockid">
      <tr ng-repeat="d in days">
        <td>{{d.day_name}}</td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_category" name="answer_{{$index}}_category" ng-model="answer.catagory" ng-options="cat.name for cat in listOfCatagory track by cat.value" ng-change="removeBorder($index,answer.catagory.value,$parent.$index);">
                    <option value="">Select Category</option>
                  </select>
                </td>
				 </tr>
            </tbody>
          </table>
		  </td>
		  <td>
		  <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_subcategory" name="answer_{{$index}}_subcategory" ng-model="answer.subcatagory" ng-options="sub.name for sub in listOfSubCategory[$parent.$index][$index] track by sub.value">
                    <option value="">Select Subcategory</option>
                  </select>
                </td>
				</tr>
            </tbody>
          </table>
		  </td>
		  <td>
		  <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <input type="text" id="answer_{{$index}}_{{$parent.$index}}_comment" name="answer_{{$index}}_comment" placeholder="Add Comment" ng-model="answers.comment">
                </td>
                
		  </tr>
            </tbody>
          </table>
		  </td>
		  <td>
		  <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                    <input type="submit" name="plus" id="plus" value="+" style="width:20px; text-align:center;" ng-click="addNewRow(d.answers, true)">
					<div ng-show="$first && !$last">
					 <input type="submit" name="minus" id="minus" value="-" style="width:20px; text-align:center;" ng-click="removeRow(d.answers, $last)">
					 </div>
                </td>
		  </tr>
            </tbody>
          </table>
		  </td>
              </tr>
            </tbody>-->
      <tbody id="detailsstockid">
      <tr ng-repeat="d in days">
        <td>{{d.day_name}}</td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_category" name="answer_{{$index}}_category" ng-model="answer.category" ng-options="cat.name for cat in listOfCategory track by cat.value" ng-change="removeBorder($index,answer.category.value,$parent.$index)" ng-init="renderWithMode($index,answer.category.value,$parent.$index,isEditMode)">
                    <option value="">Select Category</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_subcategory" name="answer_{{$index}}_subcategory" ng-model="answer.subcategory" ng-options="sub.name for sub in listOfSubCategory[$parent.$index][$index] track by sub.value">
                    <option value="">Select Subcategory</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <!--<input type="text" id="answer_{{$index}}_{{$parent.$index}}_comment" name="answer_{{$index}}_comment" placeholder="Add Comment" ng-model="answers.comment">-->
                  <input type="text" id="answer_{{$index}}_{{$parent.$index}}_comment" name="answer_{{$index}}_comment" placeholder="Add Comment" ng-model="answer.comment" maxlength="512">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td style="width:20px">
                  <input ng-show="d.answers.length>1" class="btn btn-sm btn-red" type="button" name="minus" id="minus" value="-" style="text-align:center;" ng-click="removeRow(d.answers, $index,$parent.$index)"> 
                </td>
                <td ng-show="$last">
                  <input type="button" class="btn btn-sm btn-success" name="plus" id="plus" value="+" style="text-align:center;" ng-click="addNewRow(d.answers)">  
                </td>
                <td>
                <input type="checkbox" name="answer_{{$index}}_check" ng-model="answer.check" ng-checked="answerIsSelected($parent.$index, $index)" ng-click="toggleAnswerSelected($parent.$index, $index)" ng-disabled="isDisabled($parent.$index, $index)" ng-true-value="true" ng-false-value="false" style="margin-left:10px;"> 
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
          </table>
        	
						</div>
                   <!-- 
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Manufacture Name :</span>
                                <input type="text" name="mcol1" id="mcol1" class="form-control oditek-form" placeholder="e.g. Bajaj or Yamaha..." ng-model="mcol1" ng-keypress="clearField('mcol1');"  maxlength="30">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Model Name :</span>
                                <input type="text" name="mcol2" id="mcol2" class="form-control oditek-form" placeholder="e.g. Pulsar or 150 RTX..." ng-model="mcol2" ng-keypress="clearField('mcol2');"  maxlength="30">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Registration No :</span>
                                <input type="text" name="mcol3" id="mcol3" class="form-control oditek-form" placeholder="Add Bike Registration No" ng-model="mcol3" ng-keypress="clearField('mcol3');"  maxlength="30">
								</div> 
                                
                               
                                                               
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Bike Type : </span>
								 <select class="form-control oditek-form" name="bike_type" id="bike_type" ng-model="bike_type" ng-options="result.name for result in listBikeType track by result.value "  ng-change="checkBikeType('bike_type');">
                                  </select>
								</div>
                                
                                
                               
                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Date Of Purchase :</span>
								<div class="datepicker" date-format="dd-MM-y" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                <input type="text" name="dopdate" class="form-control oditek-form" id="dopdate" ng-model="dopdate" placeholder="Add purchase date" ng-change="clearField('dopdate');" />
                                </div>
								</div>
                               
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Type of Service: <a href="#">?</a> </span>
								 <select class="form-control oditek-form" name="service_type" id="service_type" ng-model="service_type" ng-options="result.name for result in listServiceType track by result.value "  ng-change="checkServiceType('service_type');">
                                  </select>
								</div>
                                  
                                  </div>
                                  
                                 <div class="clearfix"></div>    
                                 
                                 
                                 <div class="portlet-body">
                    			 <div class="totalaligndiv">
                    			<div class="input-group bmargindiv1 col-md-12">
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.uploadme.$touched && billdata.uploadme.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile2">
 								<img ng-src="{{attchImage2}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage1" id="imagefile2"  ng-model="imagefile2" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile2" ngf-select="onFileSelect2($file,'imageupload2');" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile2">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                </div>
                                <div class="col-md-12">
                                 <span id="imageupload2" class="input-group-addon text-center oditek-form" >Bike Registration Image</span>
                                </div>
                                </div>
                                </div>
                                
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.uploadme.$touched && billdata.uploadme.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile3">
 								<img ng-src="{{attchImage3}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage2" id="imagefile3"  ng-model="imagefile3" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile3"  ngf-select="onFileSelect3($file,'imageupload3');" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile3">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <span id="imageupload3" class="input-group-addon text-center oditek-form" >First Bike Image</span>
                                </div>
                                </div>
                                </div>
                                
                                
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.uploadme.$touched && billdata.uploadme.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile4">
 								<img ng-src="{{attchImage4}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage3" id="imagefile4"  ng-model="imagefile4" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile4"  ngf-select="onFileSelect4($file,'imageupload4');" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile4">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <span id="imageupload4" class="input-group-addon text-center oditek-form" >Second Bike Image</span>
                                </div>
                                
                                </div>
                                </div>
                                
								</div>
                                </div>
                                </div>
                                 
                                 
                                 
                                 
                                
                                 </div>
                    
                -->

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                      <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Login Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Login Id :</span>
                               <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Login Id" ng-model="businessno"  maxlength="30" disabled="disabled"> 
								</div>
                                                       
                                </div>
                                
                                
                                <div class="col-md-6">
                               
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Password:</span>
                                <div ng-class="{ 'myError': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="password" name="pass" id="passno" class="form-control" placeholder="password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/" ng-keypress="clearField('passno');" tabindex="7" >
                                </div>
								
								</div>
                               <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter.</p>
                                
                                </div>
                               
                                 </div>
                                  
                                  
                                  
                                 <div class="clearfix"></div>    
                               
                                
                                 </div>
                    
                  
                    <div style="text-align:center; padding-top:10px;">
                    
                  <input type="button" class="btn btn-success" ng-click="saveResturantDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/>   </div>
                        
                   <!-- <input type="button" class="btn btn-success" ng-click="checkDetails(billdata);"  id="saveData" value="check"   style="margin-right:20px;"/> -->  </div>
                    
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                    <div class="col-lg-12" style="display:none">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Confirm New Registration </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="confirmdata" id="confirmdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


