<style>
<!--
.input-group-lg>div input.form-control{height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33;}
-->
</style>
    	<div class="container">
        	<div class="row">
                <div class="col-md-12 text-center login-header" style="padding:40px 0px;">
		
                </div>
                <!--/span-->
            </div><!--/row-->
        	<div class="col-md-6 marginautodiv floatnonediv well">
            	<div class="totalaligndiv">
            	<div class="alert alert-info text-center">
               		<img src="img/logo.png"  style="width:100px; height:auto"/>
                    <BR>
                    Please enter your email id to reset your password.
                </div>
                 <form name="billdata" class="form-horizontal"  id="frmlogin"  autocomplete="off">
                    <fieldset>
                    <div class="input-group input-group-lg" style="margin-bottom:5px;">
                            <span class="input-group-addon"><i class="fa fa-user" style="width: 19px;"></i></span>
                            <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Add Login Id" ng-model="mobno"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-keypress="clearField('mobno');">
                            </div>
                        </div>
                        <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                             <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                            <input type="text" name="email" id="txtname" class="form-control" placeholder="Email Address" ng-model="email"  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-keypress="clearField('txtname');">
                             <div style="clear:both;"></div>
                        </div>
                        </div>
                        <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                        </div>
                        <div class="clearfix"></div><br>
    
                        <!--<div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" name="pwd" id="txtpwd" class="form-control" placeholder="Password" ng-model="user_pass" ng-keypress="clearField('txtpwd');">
                        </div>
                        <div class="clearfix"></div><br>-->
						<!--<div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select id="coy" name="coy" class="form-control" ng-model="user_type" >
								 <option value="">Select User Type</option>
                                 <option value="admin">admin</option>
                                 <option value="hod">hod</option>
								 </select>
                        </div>
                        <div class="clearfix"></div>-->
    
                        <div class="input-prepend">
                        </div>
                        <div class="clearfix"></div>
    
                        <p class="text-center tbpaddingdiv2">
                        <button type="text" name="login" id="login" class="btn btn-primary"  style="width:270px;" ng-click="user_resetpassword(billdata);">Send my password</button>
                        </p>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>