
    	<div class="container">
        	<div class="row">
                <div class="col-md-12 text-center login-header" style="padding:40px 0px;">
		
                </div>
                <!--/span-->
            </div><!--/row-->
        	<div class="col-md-6 marginautodiv floatnonediv well">
            	<div class="totalaligndiv">
            	<div class="alert alert-info text-center">
               		<img src="img/logo.png"  style="width:100px; height:auto"/>
                    <BR>
                    Please login with your Username and Password.
                </div>
                 <form class="form-horizontal"  id="frmlogin"  autocomplete="off">
                    <fieldset>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="txtname" id="txtname" class="form-control" placeholder="Login Id" ng-model="user_name" ng-keypress="clearField('txtname');">
                        </div>
                        <div class="clearfix"></div><br>
    
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" name="pwd" id="txtpwd" class="form-control" placeholder="Password" ng-model="user_pass" ng-keypress="clearField('txtpwd');">
                        </div>
                        <p style="margin-top:5px;"><a ui-sref="forgetpass">Have you forgotten your password ?</a></p>
                        <div class="clearfix"></div><br>
						<!--<div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select id="coy" name="coy" class="form-control" ng-model="user_type" >
								 <option value="">Select User Type</option>
                                 <option value="admin">admin</option>
                                 <option value="hod">hod</option>
								 </select>
                        </div>
                        <div class="clearfix"></div>-->
    
                        <div class="input-prepend">
                        </div>
                        <div class="clearfix"></div>
    
                        <p class="text-center tbpaddingdiv2">
                        <button type="text" name="login" id="login" class="btn btn-primary"  style="width:270px;" ng-click="user_login();">Login</button>
                        </p>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>