<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Manage App Version </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Add Version</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                   <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Package :</span>
                                <input type="text" name="package" id="package" class="form-control oditek-form" placeholder="Add Package Name" ng-model="package" ng-keypress="clearField('package');">
		                    	 </select>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Version :</span>
                                <div ng-class="{ 'myError': billdata.theValue.$touched && billdata.theValue.$invalid }">
                                  <input type="number"  class="form-control oditek-form"  ng-model="theValue" min="0" value="0" step="0.01" name="theValue" placeholder="Add version number" ng-pattern="/^[0-9]+([,.][0-9]+)?$/">
                                     </div>
								</div>
                                 <div class="help-block" ng-messages="billdata.theValue.$error" ng-if="billdata.theValue.$touched">
                                    <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Description :</span>
                                <textarea name="dcomment" id="dcomment" class="form-control oditek-form" placeholder="Add description" ng-model="dcomment" ng-keypress="clearField('dcomment');" style="height:50px;" rows="2"></textarea>
                                </div>
                               
                                 </div>
                                
                                
                                <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                  Is Mandotary ? :<span style="margin-left:20px;">
						          <input type="radio" name="ismand" id="yesmob" ng-model="ismand" ng-value="1"> Yes <input type="radio" name="ismand" id="nomob" ng-model="ismand" ng-value="0"> No</span>
						        </div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                Device type :<span style="margin-left:20px;">
                                <input type="radio" name="isdevice" id="yesand" ng-model="isdevice" ng-value="1"> Android <input type="radio" name="isdevice" id="noios" ng-model="isdevice" ng-value="2"> IOS</span>
                                </div>
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                   
                     
                    </div>
                    
            <div class="clearfix"></div>
            <div style="text-align:center; padding-top:10px;">  
             <input type="button" class="btn btn-red" ng-click="cancelUpdate();"  id="saveData" ng-value="buttonName" ng-show="cancelButton"  style="margin-right:20px;"/>   
           <input type="button" class="btn btn-success" ng-click="addCategory(billdata);"  id="submitData" ng-value="submitbuttonName" ng-show="submitButton"/>
                    </div>  
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>View Version </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" style="font-size:13px" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Package</th>
                                                    <th>Version</th>
                                                    <th>Description</th>
                                                    <th>Device Type</th>
                                                    <th>Mandotary</th>
                                                    <th>Edit</th>
                                                   <!-- <th>Remove</th> -->
                                                   
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objVersionData" ng-if="objVersionData.length > 0">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.package}}</td>
                                                    <td>{{user.version}}</td>
                                                    <td>{{user.description}}</td>
                                                    <td ng-if="user.device=='1'">Android</td>
                                                    <td ng-if="user.device=='2'">IOS</td>
                                                    <td ng-if="user.mandotary=='1'">Yes</td>
                                                    <td ng-if="user.mandotary=='0'">No</td>
                                                    <td>
                                                    <a ui-sref='dashboard.manage.app'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editVersionData(user.id);" >  
													</a>
													</td>
                                                   <!-- <td>
                                                    <a ui-sref='dashboard.category.cat'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="removeCatagoryData(user.cat_id);" >  
													</a>
													</td> -->
                                                   
                                                    
													</tr>	
                                                    <tr ng-if="objVersionData.length <= 0">
                                                    <td colspan="7">
                                                        <center>
                                                          <p><b>No Record Found</b>
                                                          </p>
                                                       </center>
                                                    </td>
                                                </tr>
											</tbody>
										</table>
								</div>
								</div>
                    
                    
                    
                    
                                 
                                 
                                
                                 </div>
                    
                

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                    <div class="col-lg-12" style="display:none">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Confirm New Registration </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="confirmdata" id="confirmdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


