


<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Analytics Details</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
										<div>
											<div class="input-group pull-left" style="margin-bottom:10px; width:300px; margin-right:10px;">
												<input class="form-control" placeholder="Type Subcategory Name" name="q" type="text" ng-model="searchProduct.subcat_name">
												<div class="input-group-btn">
													<button class="btn btn-default" type="button" ng-click="exportData();">Export</button>
												</div>
										   </div>
										   <div class="col-md-3">
                                           <div class="input-group datepicker" date-format="yyyy-MM-dd" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                           <input type="text" name="birthdate" class="form-control" id="date1" ng-model="date1" placeholder="From" />
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          </div>
										   <!--<div class="input-group date ui-datepicker">
												<input type="text" id="prefMovingDateform" name="movingDateTime" class="form-control" data-required="true" placeholder="Form">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>-->
										   </div>
										   <div class="col-md-3">
										   <div class=" input-group datepicker" date-format="yyyy-MM-dd" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                           <input type="text" name="birthdate" class="form-control" id="date2" ng-model="date2" placeholder="To" ng-change="checkDate();"/>
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          </div>
										   </div>
										   <div class="clearfix"></div>
									   </div>
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Subcategory Name</th>
                                                    <th>Android Clicks</th>
                                                    <th>IOS Clicks</th>
                                                    <th>Total</th>
                                                   <!-- <th>Date</th>-->
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr ng-repeat="d in ($parent.labelResults=(getFilteredEvents(date1,date2) | orderBy:'-date' | filter:searchProduct.subcat_name))">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{d.subcat_name}}</td>
                                                    <td>{{d.Android}}</td>
                                                    <td>{{d.IOS}}</td>
                                                    <td>{{d.resultant_counter}}</td>
                                                    <!--<td>{{d.date}}</td>-->
													</tr>	
											</tbody>
										</table>
                                        </div>
                                        
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>
								<div class="table-responsive dashboard-demo-table"  id="exportable" style="display:none;">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Subcategory Name</th>
                                                    <th>Android Clicks</th>
                                                    <th>IOS Clicks</th>
                                                    <th>Total</th>
                                                   <!-- <th>Date</th>-->
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr ng-repeat="d in listOfReportData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{d.subcat_name}}</td>
                                                    <td>{{d.Android}}</td>
                                                    <td>{{d.IOS}}</td>
                                                    <td>{{d.resultant_counter}}</td>
                                                    <!--<td>{{d.date}}</td>-->
													</tr>	
											</tbody>
										</table>
                                        </div>
                                        
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								<script>
								$('#prefMovingDatefrom').datetimepicker({
									format : 'd-M-yyyy',
									autoclose : true,
								});
								$('#prefMovingDateto').datetimepicker({
									format : 'd-M-yyyy',
									autoclose : true,
								});
								</script>
