


<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Analytics Summary</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Subcategory Name</th>
                                                    <th>Total</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr ng-repeat="c in subcatClickSummary | orderBy:['-total_hit','+subcat_name']">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{c.subcat_name}}</td>
                                                    <td>{{c.total_hit}}</td>
													</tr>	
											</tbody>
										</table>
                                        </div>
                                       
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>