<div>
<uib-tabset> 

<uib-tab ui-sref="business.analytics.summary" active="busitabs[1]"> 
<uib-tab-heading>SUMMARY</uib-tab-heading> 
</uib-tab> 

<uib-tab ui-sref="business.analytics.details" active="busitabs[2]"> 
<uib-tab-heading>DETAILS</uib-tab-heading> 
</uib-tab> 

</uib-tabset> 
<div ui-view autoscroll="off"></div>
</div>