<div class="row">
	<div class="col-lg-12" style="display:block">
		<div class="portlet portlet-green">
			<div class="portlet-heading">
				<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-picture-o fa-fw"></i>Add Details</h4>
				</div>
				<div class="clearfix"></div>
			</div>
            <form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
			<div class="portlet-body">
				<div class="totalaligndiv">
                    <div ng-show="formDiv">
                   <!-- <div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Business Name :</span>
							<select class="form-control"  id="restau" ng-model="restaurant" ng-options="qua.name for qua in listOfRestaurant track by qua.value " ng-change="getDayFromSpecial('restau');">
                            </select>
						</div>
					</div> -->
					<div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Sub-Category :</span>
							<!--<select class="form-control"  id="subcat" ng-model="subcat" ng-options="qua.name for qua in listOfSubcat | orderBy:'name' track by qua.value " >
                                  <option value="" >Category:Subcategory</option>
				            </select> -->
				             <div ng-dropdown-multiselect="" options="example16data" selected-model="example16model" checkboxes="true" extra-settings="example16settings" class="form-control"></div>
						</div>
					</div>
					<div class="clearfix"></div>
                    <div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Day From :</span>
							<select class="form-control"  id="daysFrom" ng-model="daysFrom" ng-options="qua.name for qua in listOfDays track by qua.value ">
		                    </select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Day To :</span>
							<select class="form-control"  id="daysTo" ng-model="daysTo" ng-options="qu.name for qu in listOfDays track by qu.value ">
		                    </select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Date From :</span>
                            <div class="input-group datepicker" date-format="yyyy-MM-dd" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                           <input type="text" name="birthdate" class="form-control" id="date1" ng-model="date1" placeholder="Date From" />
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Date To :</span>
							<div class="input-group datepicker" date-format="yyyy-MM-dd" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                           <input type="text" name="birthdate" class="form-control" id="date2" ng-model="date2" placeholder="Date To" />
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          </div>
						</div>
					</div>
                        <div class="col-md-6" ng-show="showchild">
						<div class="input-group bmargindiv1 col-md-12">
							<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Peer Business Name :</span>
							<div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings" class="form-control"></div>
						</div>
					</div>
           <div class="col-md-12">
            <div class="input-group bmargindiv1 col-md-12">
              <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Comment :</span>
             <!-- <input type="text" name="dcomment" id="dcomment" class="form-control oditek-form" placeholder="Add comment" ng-model="dcomment" ng-keypress="clearField('postal');" style="height:35px;"> -->
             <textarea name="dcomment" id="dcomment" class="form-control oditek-form" placeholder="Add comment" ng-model="dcomment" ng-keypress="clearField('dcomment');" style="height:50px;" rows="3" maxlength="100"></textarea>
            </div>
          </div>
                     <div class="col-md-6" ng-if="buttonName=='Update'" style="display:none">
                        <div class="input-group bmargindiv1 col-md-12">
                            <input type="hidden" ng-model="diffValue">
                             <input type="hidden" ng-model="prevFromday">
                        </div>
                    </div>
                    
					<div class="clearfix"></div>  
                        <div class="col-md-12">
					<div style="text-align:center; padding:10px 0px;">
					  <a ui-sref="business.customer.image" class="btn btn-primary" ng-click="openGallery();"><i class="fa fa-picture-o fa-fw"></i> Select Picture From Gallery</a>
                    <div ng-show="localIMage">
					  <div style="padding:5px 0px;">
						<div class="orbtnclass" style="width: 75px;">AND / OR</div>
					  </div>
					  <div class="totalaligndiv">
						<div class="col-md-4 marginautodiv floatnonediv">
							<div style="font-weight:bold; padding-bottom:10px; text-align:center;"><i class="fa fa-folder fa-fw"></i> Select Picture From Drive</div>
                            <div ng-repeat="mul in mulImage">
							<div class="input-group bmargindiv1 col-md-12">
								<span class="input-group-addon ndrftextwidth text-right" style="width:100px">Image{{$index+1}}:</span>
                                <div ng-class="{'myError': billdata.upload_{{$index}}.$touched && billdata.upload_{{$index}}.$invalid }">
                                <input type="file" class="filestyle form-control" data-size="lg" name="upload_{{$index}}" id="bannerimage_{{$index}}"  ng-model="mul.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" ngf-select="onFileSelect1($index);">
                                <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment" ng-model="mul.comment">
                                <div style="clear:both;"></div>
                                </div>
								<span class="input-group-btn" ng-show="mulImage.length>0">
									 <img ngf-thumbnail="mul.image" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.image !=null"><img ng-src="upload/{{mul.filename}}" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.filename!=''"><input type="button" class="btn btn-success" name="plus" id="plus" value="+" ng-click="addNewImageRow(mulImage);" ng-show="$last"> <input type="button" class="btn btn-danger" name="minus" id="minus" value="-"  ng-show="mulImage.length>1" ng-click="deleteNewImageRow(mulImage,$index);">
								</span>
							</div>
                                <div class="help-block" ng-messages="billdata['upload_'+$index].$error" ng-if="billdata['upload_'+$index].$touched">
                                  <p ng-message="maxSize" style="color:#F00;">File is too large.Max size is 2 mb.</p>
							       <p ng-message="minHeight" style="color:#F00;">Minimum height should be 400px</p>
                                  <p ng-message="pattern" style="color:#F00;">This field only accept image file('.jpg,.png,.jpeg') </p>
                              </div>
                            </div>
                            <p>Recommended image size is 400 x 400 pixel</p>
						</div>
						<div class="clearfix"></div>
					  </div>
                            </div>
					</div>
				</div>
				<div class="col-md-12 text-center">
                    <input type="button" class="btn btn-success" ng-click="addGalleryImageDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/><input type="button" class="btn btn-red" ng-click="clearImageData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/>
				</div>
                     <div class="clearfix"></div>    
                 </div>
                    <div ng-show="gallery">
						<div class="portlet portlet-blue" style="margin-bottom:12px;">
							<div class="portlet-heading">
								<div class="portlet-title">
								<h4><a ui-sref="business.customer.image" class="btn btn-xs btn-success" title="Back" ng-click="clearImage();"  id="addProfileData"><i class="fa fa-arrow-left fa-fw"></i></a> <i class="fa fa-list fa-fw"></i>List of Image</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
							<div class="portlet-body" style="padding-bottom:0px">
								<div class="totalaligndiv">
									<div class="table-responsive">
										<table class="table">
											<colgroup>
												 <col class="col-md-1 col-sm-1">
												 <col class="col-md-1 col-sm-1">
												 <col class="col-md-1 col-sm-1">
												 <col class="col-md-8 col-sm-8">
												 <col class="col-md-1 col-sm-1">
                                            </colgroup>
											<thead>
												<tr>
													<th>Sl. No</th>
													<th>Subcategory</th>
													<th>Image</th>
													<th>Description</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="gl in galleryDatas">
													<td><input type="checkbox" ng-change="clickedRow(gl.checked,$index)" name="" ng-model="gl.checked"> {{$index+1}}</td>
													<td>{{gl.subcat_name}}</td>
													<td><img ng-src="upload/{{gl.image}}" border="0" name="image" style="width:100px; height:100px;" /></td>
													<td><textarea id="address" name="desc" class="form-control oditek-form" placeholder="Add comment" rows="6" ng-model="gl.description" style="height:70px" ng-readonly="gl.galComnt" ng-change="setComment($index);"></textarea></td>
													<td>
														<a class="btn btn-xs btn-success" title="Edit" ng-click="editComment(gl.gallery_id,$index,gl.description)"><i class="fa fa-pencil-square-o fa-fw"></i>{{gl.galEDit}}</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
                            <div class="col-md-12 text-center">
                                 <input type="button" class="btn btn-success" ng-click="saveGalleryImage();"  id="save" value="Save"   style="margin-right:20px;"/>
                            </div>
                             <div class="clearfix"></div> 
						</div>
                    </div>
                </div>
				
				
			</div>
            </form>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">



                                                <div class="portlet portlet-blue" style="margin-bottom:12px;">
                                                <div class="portlet-heading">
                                        <div class="portlet-title" id="SHOWINFO" style="float:none;">
                                            <h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Details Info</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>	



                                         <div class="portlet-body">
                                            <!--<div class="input-group" style="margin-bottom:10px; width:300px;">
                                                <input class="form-control" placeholder="Type Restaurant Name" name="q" type="text" ng-model="searchProduct.rest_name">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="button" ng-click="exportData();">Export</button>
                                                </div>
                                           </div>-->
                                        <div class="table-responsive dashboard-demo-table">
                                        <div id="importable">
                                            <table class="table table-bordered table-striped table-hover" id="dataTable" >
                                                <thead>
                                                    <tr>
                                                        <th>Sl. No</th>
                                                       <!-- <th>Restaurant Name</th> -->
                                                        <th>
                                                       Sub category
                                                        </th>
                                                        <th>From day</th>
                                                        <th>To day</th>
                                                         <th>From date</th>
                                                         <th>To date</th>
                                                        <th>Image</th>
                                                        <th>Edit</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="detailsstockid">
                                                <tr ng-repeat="sl in listOfGallerySpecialImage" ng-if="listOfGallerySpecialImage.length >0">
                                                        <!--<tr ng-repeat="cus in listOfCustomerData | filter:searchProduct">-->
                                                        <td>{{$index+1}}</td>
                                                       <!-- <td>{{sl.rest_name}}</td> -->
                                                        <td>{{sl.subcat_name}}</td>
                                                        <td>{{sl.from_day_name}}</td>
                                                        <td>{{sl.to_day_name}}</td>
                                                        <td>{{sl.date_from}}</td>
                                                        <td>{{sl.date_to}}</td>
                                                        <td ng-if="sl.image !=''"><input type='button' class='btn btn-xs btn-green' value='View' ng-click="viewAllSpecialImages(sl.subcat_id);"></td>
                                                        <td ng-if="sl.image ==''">NA</td>
                                                        <td >
                                                        <a ui-sref="business.customer.image">
                                                        <input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editSpecialImageData(sl.subcat_id);">  
                                                        </a>
                                                        </td>
                                                        <td>
                                                         <a ui-sref="business.customer.image">
                                                        <input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteProductImageData(sl.subcat_id,sl.frmDay,sl.toDay);" >  
                                                        </a>
                                                        </td>
                                                        </tr>	
                                                     <tr ng-if="listOfGallerySpecialImage.length <= 0">
                                                    <td colspan="10">
                                                        <center>
                                                          <p><b>No Record Found</b>
                                                          </p>
                                                       </center>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                                </div>
                                      <div class="clear"></div>
                                    </div>

                                    </div>
                                    <div class="clearfix"></div>

                                    </div>
                                    </div>
</div>
<modal title="All Images" visible="showModal">
<div style="height:500px; overflow-x:hidden; overflow-y:scroll;">
	<div style="padding-bottom:10px;" ng-repeat="pht in stepsSpecialModel">
		<div style="padding-bottom:10px;"><span class="label label-info" style="font-size: 14px;">Day :{{pht.day_name}}</span></div>
		<div style="padding-bottom:10px; float:left; margin-right:10px;" ng-repeat="ph in pht.special">
		<img ng-src="upload/{{ph.image}}" border="0" name="bannerimage" style="width:100px; height:100px;" id="imgId">
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
 </modal>